<li>
  <%= respondent.full_name %> (<%= respondent.id %>)
  <span class="right actions actions-tight">
    <%= link_to 'edit', edit_steps_respondent_personal_details_path(respondent), class: 'button' %>
    <%= button_to 'delete', steps_respondent_personal_details_path(respondent), method: :delete, data: {confirm: 'Are you sure?'}, class: 'button button-secondary' %>
  </span>
</li>
