<% if c100_application.confidentiality_enabled? %>
  <hr/>
  <p>
    <strong>IMPORTANT:</strong> The applicant does not wish to reveal their contact details. The C8 form is included in the PDF.
  </p>
  <hr/>
<% end %>
