<h2>We’d like your feedback</h2>
<p>
  Would you like
  to <%= link_to 'complete a 5-minute survey', Rails.configuration.surveys[:success] %>
  to give us your feedback about the online service you have just used?
</p>
<p>
  This will help us to improve it. Your feedback won’t affect your application in any way.
</p>
