<!-- TODO: decide if we want this, and which email address -->

<p>For any technical questions about this email, please
  contact: <%= mail_to 'c100helpdesk@digital.justice.gov.uk', 'c100helpdesk@digital.justice.gov.uk' %></p>
