<p>
  This is an automated message. Please do not reply directly to this email.
  <br/>
  For any technical questions about this email, please
  contact: <%= mail_to 'c100helpdesk@digital.justice.gov.uk', 'c100helpdesk@digital.justice.gov.uk' %>
</p>
