<li>
  <h3 class="govuk-heading-m">
    Send certificate of suitability or court order appointing a litigation friend
  </h3>

  <%= render partial: 'steps/shared/under_age_section' %>

  <p class="govuk-body">
    Include your application reference code. The court will not be able to process your application until these documents have been received.
  </p>
</li>
