<h3 class="govuk-heading-m">Print your application</h3>
<p class="govuk-body">
  Print 3 copies of your whole application on A4 paper, single sided. The court will send one copy to the other
  person, keep one copy, and return one copy to you.
</p>
