<% title 'Send your application' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">How to submit your application</h1>

    <div role="note" aria-label="Warning" class="notice gv-c-notice">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text">Warning</span>
      </i>
      <strong class="bold-small gv-c-notice__text">
        The court will not receive your application until you complete the steps below.
      </strong>
    </div>

    <section class="numbered-list">
      <h2 class="visuallyhidden">Steps</h2>
      <div class="govuk-govspeak gv-s-prose">
        <ol class="list list-number">
          <li class="util_mt-medium">
            <h3 class="heading-medium">Download your application</h3>
            <p>
              This will be a PDF. If you cannot open the PDF after downloading, try using
              <a href="https://get.adobe.com/uk/reader/" rel="external" target="_blank">Adobe Acrobat Reader</a>.
            </p>

            <% unless user_signed_in? %>
              <div class="panel panel-border-narrow">
                <p>To avoid losing your application, you must download it now. You cannot return to a completed application.</p>
              </div>
            <% end %>

            <p>
              <%= link_to 'Download your PDF application',
                          steps_completion_summary_path(format: :pdf),
                          class: 'button ga-pageLink',
                          data: {ga_category: 'completion', ga_label: 'download application'} %>
            </p>
          </li>

          <li class="util_mt-medium">
            <h3 class="heading-medium">Print your application</h3>
            <p>Print 3 copies of your whole application on A4 paper, single sided. The court will send one copy to the other
              person, keep one copy, and return one copy to you.</p>
          </li>

          <li class="util_mt-medium">
            <h3 class="heading-medium">Post it to the court</h3>
            <p>Post all 3 printed copies (and cheque, if that’s how you choose to pay) of your application to:</p>

            <div class="panel panel-border-narrow">
              <%= simple_format(@court.full_address.join("\n")) %>
            </div>
          </li>

          <li class="util_mt-medium">
            <h3 class="heading-medium">Pay the application fee</h3>
            <%= render partial: 'steps/shared/payment_instructions' %>
          </li>
        </ol>
      </div>
    </section>

    <hr/>

    <%= render partial: 'steps/shared/court_help', locals: {court: @court} %>
  </div>
</div>
