<h3 class="govuk-heading-m">
  <%=t "playback.exemptions_claimed.#{exemption.group_name}.header" %>
</h3>

<ul class="govuk-list govuk-list--bullet">
  <% exemption.collection.each do |name| %>
    <li><%=t "playback.exemptions_claimed.#{exemption.group_name}.exemptions.#{name}" %></li>
  <% end %>
</ul>
