<% title 'Screener completed' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You’re eligible to apply online</h1>

    <p class="govuk-body-l">Based on your answers, you can use this online service.</p>

    <%= link_to 'Continue', entrypoint_v1_path, class: 'govuk-button', role: 'button', draggable: false, data: { module: 'govuk-button' } %>
  </div>
</div>
