<% title 'Screener completed' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">You're eligible to apply online</h1>

    <p class="lede">Based on your answers, you can use this online service.</p>

    <div role="note" aria-label="Information" class="panel panel-border-wide info-notice">
      <p>If you’re a solicitor representing a parent, complete this application on their behalf.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', entrypoint_v1_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
