<% title 'Screener completed' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">You are eligible</h1>

    <p class="lede">COPY TBD</p>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', entrypoint_v1_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
