<% title 'Consent order sought' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have to attend a MIAM</h1>

    <p class="govuk-body-l">As you're applying for a consent order you do not have to attend a MIAM.</p>

    <div class="govuk-inset-text">
      You will need to send 3 copies of your proposed agreement along with your application.
    </div>

    <h2 class="govuk-heading-m">Changing or enforcing an order</h2>

    <p class="govuk-body">A court order isn’t flexible. You’ll need to apply to court again if you want to change it.</p>
    <p class="govuk-body">You or the other person can apply to court to enforce the order if either of you aren’t following the terms.</p>

    <%= link_button 'Continue', steps_safety_questions_start_path %>
  </div>
</div>
