<% title 'Consent order sought' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">You do not have to attend a
      <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></h1>

    <p class="lede gv-u-text-lede">This page is placeholder copy</p>

    <div class="govuk-govspeak gv-s-prose">
      <p>As you're applying for a consent order you do not have to attend a
        <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>.</p>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
        <p>You will need to send 3 copies of your proposed agreement along with your application.</p>
      </div>
      <h2>Changing or enforcing an order</h2>
      <p>A court order isn’t flexible. You’ll need to apply to court again if you want to change it.</p>
      <p>You or the other person can apply to court to enforce the order if either of you aren’t following the
        terms.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', steps_safety_questions_start_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
