<% title 'Consent order sought' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have to attend a MIAM</h1>

    <p class="govuk-body-l">As you're applying for a consent order you do not have to attend a MIAM.</p>

    <p class="govuk-body">You will need to send your proposed agreement with your application.</p>

    <%= link_button 'Continue', edit_steps_miam_child_protection_cases_path %>
  </div>
</div>
