<% title 'MIAM is out of date' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">Your MIAM is out of date</h1>

    <div class=" govuk-govspeak gv-s-prose">
      <p>You won’t be able to continue with your application until you follow these steps.</p>
      <ul class="list list-bullet">
        <li><a href="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="external_link">Find a
          mediator</a> and book a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></li>
        <li>Attend the <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></li>
        <li>Ask the mediator for a certificate confirming your attendance</li>
        <li>Return to this application to continue</li>
      </ul>
    </div>
  </div>
</div>
