<% title 'How long it takes' %>
<% step_header(path: '/entrypoint/what_is_needed') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Before you continue</span>
    <h1 class="govuk-heading-xl">How long it takes to apply</h1>

    <p class="govuk-body">
      It usually takes around 45 minutes to complete an application. It may take longer if your situation is more
      complex - for example if you’ve been involved in a previous family court case.
    </p>

    <h2 class="govuk-heading-l">Saving your progress</h2>

    <p class="govuk-body">
      You can save your application and return at any time. You just need your email address and a password of your
      choice.
    </p>

    <p class="govuk-body">
      We’ll save your draft for <%= Rails.configuration.x.drafts.expire_in_days %> days. For security reasons, we’ll
      delete any information after this time.
    </p>

    <%= link_button 'Continue', edit_steps_miam_child_protection_cases_path, class: 'govuk-!-margin-top-3' %>
  </div>
</div>
