<% title 'How long it takes' %>
<% step_header(path: '/entrypoint/what_is_needed') %>

<div data-block-name="route:application-requirements" class="flash-card">
  <div class=" grid-row gv-o-grid-row">
    <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
      <div class="grid_content_header">
        <p class="app__section_heading">Before you continue</p>
        <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">How long it takes to apply</h1>
      </div>

      <div class=" govuk-govspeak gv-s-prose">
        <p>It usually takes around 45 minutes to complete an application. It may take longer if your situation is more
          complex - for example if you’ve been involved in a previous family court case.</p>
        <h2 class="gv-u-heading-xlarge">Saving your progress</h2>
        <p>You can save your application and return at any time. You just need your email address and a
          password of your choice.</p>
        <p>We’ll save your draft for <%= Rails.configuration.x.drafts.expire_in_days %> days. For security reasons, we’ll delete
          any information after this time.</p>
      </div>

      <div class="xform-group form-submit">
        <%= link_to 'Continue', edit_steps_miam_child_protection_cases_path, class: 'button', role: 'button' %>
      </div>
    </div>
  </div>
</div>
