<% title 'Entrypoint version 1' %>

<div class=" grid-row gv-o-grid-row">
  <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Apply to court about your child arrangements</h1>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <p>You can use this service to apply for a court order about your child arrangements in England and Wales.</p>

      <p>The process is different if you're applying in
        <a href="https://www.mygov.scot/crime-justice-and-the-law/courts-and-sentencing">Scotland</a> and
        <a href="https://www.nidirect.gov.uk/articles/solicitors-and-courts">Northern Ireland</a>.</p>

      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
        <p>If you can make your arrangements out of court you’ll help families in urgent situations that involve
          domestic abuse get to court quicker.</p>
      </div>
    </div>

    <section id="fees-explanation" class="moj-Section moj-Section--2" data-block-name="fees-explanation">
      <h2 class="gv-u-heading-xlarge">Fees</h2>
      <div class="Section__content  govuk-govspeak gv-s-prose">
        <p>It costs £215 to apply.</p>
        <p>Only the applicant (the person applying to court) needs to pay.</p>
      </div>
    </section>

    <section id="before-applying" class="moj-Section moj-Section--2" data-block-name="before-applying">    
      <h2 class="gv-u-heading-xlarge">Before you start your application</h2>
      <div class="Section__content govuk-govspeak gv-s-prose">
        <p>Follow these steps before you continue.</p>
        <ol>
          <li>Read the
            <a href="https://helpwithchildarrangements.service.justice.gov.uk" target="external_link">child arrangements
              guide</a> to see if you need to go to court - there may be a more suitable way to reach an agreement.
          </li>
          <li>If you do need to go you must attend a Mediation Information and Assessment Meeting (MIAM) or
            <a href="/miam_exemptions">check if you're exempt</a>.
          </li>
          <li>Check if you can
            <a href="https://www.gov.uk/get-help-with-court-fees" target="external_link">get help paying the court
              fee</a>.
          </li>
        </ol>
      </div>
    </section>

    <%= render partial: 'entrypoint/shared/start_application' %>
  </div>
</div> 
