<% title 'Entrypoint version 1' %>

<div class=" grid-row gv-o-grid-row">
  <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Apply to court about child arrangements</h1>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <p>You can use this service to apply for a court order about child arrangements. This can be for a Child Arrangements Order, a Prohibited Steps Order and a Specific Issue Order.</p>

      <p>The process is different if you're applying in
        <a href="https://www.mygov.scot/crime-justice-and-the-law/courts-and-sentencing">Scotland</a> and
        <a href="https://www.nidirect.gov.uk/articles/solicitors-and-courts">Northern Ireland</a>.</p>
        <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
          <p>This service is the digital version of the C100 paper application form.</p>
        </div>
    </div>

    <section id="fees-explanation" class="moj-Section moj-Section--2" data-block-name="fees-explanation">
      <h2 class="gv-u-heading-xlarge">Fees</h2>
      <div class="Section__content  govuk-govspeak gv-s-prose">
        <p>The court fee is £215. Only the person applying to court (the applicant) needs to pay. You will need to pay by card over the telephone. Check if you can
            <a href="https://www.gov.uk/get-help-with-court-fees" target="external_link" rel="external">get help paying the court
              fee</a>.</p>
        <p>You may have to pay additional costs if, for example, you choose to hire a lawyer to represent you.</p>
        <p>Legal aid may be available. <a href="https://www.gov.uk/get-help-with-court-fees" target="external_link" rel="external">Check if you can get legal aid</a>.</p>
      </div>
    </section>

    <section class="numbered-list">
      <h2 class="gv-u-heading-xlarge">Before you start your application</h2>
      <div class="Section__content govuk-govspeak gv-s-prose">
        <p>Follow these steps before you start.</p>
        <ol>
          <li><strong>Look at alternative ways of resolving your dispute</strong><br>
          Read the <a href="https://helpwithchildarrangements.service.justice.gov.uk">child arrangements guide</a> to see if there’s a more suitable option than going to court.
          </li>
          <li><strong>Check if you have a valid reason for not attending a Mediation Information and Assessment Meeting (<abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>)</strong><br>
          A <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> is an introductory meeting that explains how <a href="https://helpwithchildarrangements.service.justice.gov.uk/professional-mediation">mediation</a> can help resolve your dispute. You’re legally required to attend one if you want to go to court, unless <a href="/miam_exemptions" target="_blank">you’re exempt</a>.
          </li>
          <li><strong>Find a mediator and book a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></strong><br>
          If you have to attend a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> you’ll need to <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">find a mediator</a> to book one.
          </li>
          <li><strong>Get a signed certificate from your mediator</strong><br>When you attend your <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> you’ll need a certificate confirming this. Bring the certificate to your first court hearing.
          </li>
        </ol>
      </div>
    </section>

    <section id="after-applying" class="moj-Section moj-Section--2" data-block-name="after-applying">
      <h2 class="gv-u-heading-xlarge">After you complete your application</h2>
      <div class="Section__content  govuk-govspeak gv-s-prose">
        <p>You’ll need to save your application as a PDF. Don’t close this window before you finish or you’ll lose your progress.</p>
        <p>Once you’ve saved your application you’ll need to email the PDF to your nearest family court.</p>
      </div>
    </section>

    <%= render partial: 'entrypoint/shared/start_application' %>
  </div>
</div>
