<% title 'Entrypoint version 1' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Entrypoint version 1</h1>

    <%= render partial: 'steps/shared/start_application' %>
  </div>
</div>
