<% title 'What is required' %>

<a class="link-back" href="/entrypoint/v1">Back</a>

<main data-block-name="route:application-requirements">
  <div class=" grid-row gv-o-grid-row">
    <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
      <div class="grid_content_header">
        <p class="app__section_heading">Before you continue</p>
        <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">What you’ll need to complete your application</h1>
      </div>

      <div class=" govuk-govspeak gv-s-prose">
        <p>You will need the following:</p>
        <ul class="list list-bullet">
          <li>details of the other people (the respondents), including address and contact details</li>
          <li>details of any previous family court cases</li>
          <li>certificate confirming <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> attendance (if applicable)</li>
          <li>the children’s details, including date of birth</li>
          <li>solicitor’s details (if you’re using one)</li>
          <li>email account to send your application from</li>
          <li>debit or credit card to pay the court fee</li>
        </ul>

        <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
          <p>If you don’t know some of the details you can still complete your application but it may take longer to process.</p>
        </div>
      </div>

      <div class="xform-group form-submit">
        <%= link_to 'Continue', entrypoint_how_long_path, class: 'button', role: 'button' %>
      </div>
    </div>
  </div>
</main>
