<% title 'What is required' %>

<a class="link-back" href="/entrypoint/v1">Back</a>

<div data-block-name="route:application-requirements" class="flash-card">
  <div class=" grid-row gv-o-grid-row">
    <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
      <div class="grid_content_header">
        <p class="app__section_heading">Before you continue</p>
        <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">What you’ll need to complete your application</h1>
      </div>

      <div class=" govuk-govspeak gv-s-prose">
        <p>You will need the following:</p>
        <ul class="list list-bullet">
          <li>details of the other people (the respondents), including their date of birth</li>
          <li>contact details of the respondents, including their current address</li>
          <li>solicitor details (if you have asked one to represent you)</li>
          <li>details of any previous family court cases</li>
          <li>signed document confirming <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> attendance (if applicable)</li>
          <li>
            completed and signed
            <%= link_to(
              'certificate of suitability',
              'https://www.gov.uk/government/publications/form-fp9-certificate-of-suitability-of-litigation-friend',
              target: :_blank,
              rel: :external
              )
            %> or copy of the court order appointing a ‘litigation friend’ if any of the people making this application are under 18 
          </li>
          <li>the child’s or children’s details, including date of birth</li>
          <li>email account if you want confirmation when your application has been submitted electronically, or a printer if you’d prefer to send by post</li>
        </ul>

        <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
          <p>If you do not know all of the details you can still complete your application but it will take longer to process.</p>
        </div>
      </div>

      <div class="xform-group form-submit">
        <%= link_to 'Continue', entrypoint_how_long_path, class: 'button', role: 'button' %>
      </div>
    </div>
  </div>
</div>
