<% if email_address %>
  <p class="lede"><%= t '.lead_text_html', email_address: email_address %></p>
<% end %>

<p><%=t('.expire_warning_html', expire_in_days: Rails.configuration.x.drafts.expire_in_days) %></p>

<p><%=t '.return_info' %></p>
