<% title 'Back office: emails' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Back office: emails</h1>

    <%= render partial: 'lookup_form' %>

    <h3 class="govuk-heading-m">
      Failed emails (last 7 days)
    </h3>

    <p class="govuk-body">
      This is a report of any failed submission emails (court or applicant confirmation), in the last 7 days.
    </p>

    <p class="govuk-body">
      <strong>
        After resending a failed email, wait a few seconds and reload this page. The failure should be gone if the
        email was sent successfully, otherwise a new error will show.
      </strong>
    </p>

    <p class="govuk-body">
      Please note some failures might be genuine, for instance, due to a typo in the applicant's email address. Do
      not retry these emails as they will fail again.
    </p>

    <table class="govuk-table backoffice-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Sent at</th>
          <th class="govuk-table__header">Reference</th>
          <th class="govuk-table__header">Type</th>
          <th class="govuk-table__header">Error</th>
          <th class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <%= render partial: 'failure', collection: @report, as: :failure %>
      </tbody>
    </table>
  </div>
</div>
