<% title 'Back office: emails' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Back office: emails</h1>

    <div class="govuk-govspeak gv-s-prose">
      This is work in progress.
    </div>
  </div>
</div>
