<% title 'Back office: emails' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Back office: emails</h1>

    <%= render partial: 'lookup_form' %>

    <p class="heading-medium">
      Failed emails (last 7 days)
    </p>

    <div class="govuk-govspeak gv-s-prose">
      <p>
        This is a report of any failed submission emails (court or applicant confirmation), in the last 7 days.
      </p>

      <p>
        <strong>
          After resending a failed email, wait a few seconds and reload this page. The failure should be gone if the
          email was sent successfully, otherwise a new error will show.
        </strong>
      </p>

      <p>
        Please note some failures might be genuine, for instance, due to a typo in the applicant's email address. Do
        not retry these emails as they will fail again.
      </p>
    </div>

    <table class="backoffice-table">
      <thead>
        <tr>
          <th>Sent at</th>
          <th>Reference</th>
          <th>Type</th>
          <th>Error</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'failure', collection: @report, as: :failure %>
      </tbody>
    </table>
  </div>
</div>
