<% title 'What is required' %>
<% step_header(path: Rails.configuration.gds_service_homepage_url) %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl app-inverted-text">Before you continue</span>
    <h1 class="govuk-heading-xl app-inverted-text">What you’ll need to complete your application</h1>

    <p class="govuk-body app-inverted-text">You will need the following:</p>

    <ul class="govuk-list govuk-list--bullet app-inverted-text app-inverted-narrow-width">
      <li>details of the other people (the respondents), including their date of birth</li>
      <li>the child’s or children’s details, including date of birth</li>
      <li>contact details of the respondents, including their current address</li>
      <li>solicitor details (if you have asked one to represent you)</li>
      <li>details of any previous family court cases</li>
      <li>signed document confirming <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> attendance (if applicable)</li>
      <li>written agreement for the court to formalise if you are applying for a consent order</li>
      <li>completed and signed
        <a href="https://www.gov.uk/government/publications/form-fp9-certificate-of-suitability-of-litigation-friend" class="govuk-link app-link--inverted" target="_blank" rel="external">certificate
          of suitability</a> or copy of the court order appointing a ‘litigation friend’ if any of the people making
        this application are under 18
      </li>
    </ul>

    <div class="govuk-inset-text app-inset-text--inverted app-inverted-narrow-width">
      If you do not know all of the details you can still complete your application but it will take longer to process.
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <%= link_button 'Continue', edit_steps_opening_postcode_path, class: 'app-button--l app-button--inverted' %>

      <%= link_to 'Or return to a saved application', new_user_session_path,
                  class: 'govuk-link app-link--inverted ga-pageLink',
                  data: { ga_category: 'save and return', ga_label: 'return to draft' } %>
    </div>
  </div>
</div>
