<div class="govuk-govspeak gv-s-prose">
  <h2 class="heading-large gv-u-heading-large">If you need help</h2>
  <p>
    You can contact the court if you need help with your application. Court staff can’t give legal advice so you’ll
    need to
    <a href="https://solicitors.lawsociety.org.uk/" rel="external" target="_blank">find a legal advisor</a> if
    you have any issues.
  </p>

  <dl id="court-contact-details">
    <dt><strong>Email</strong></dt>
    <dd><%= mail_to court.email, court.email, class: 'ga-pageLink', data: {ga_category: 'completion', ga_label: 'email court'} %></dd>

    <dt><strong>More information</strong></dt>
    <dd><%= link_to court.name, C100App::CourtfinderAPI.new.court_url(court.slug), rel: 'external', target: '_blank' %></dd>
  </dl>
</div>

<div class="govuk-govspeak gv-s-prose util_mt-large">
  <h2 class="heading-large gv-u-heading-large">We’d like your feedback</h2>
  <p>
    Would you like
    to <%= link_to 'complete a 5-minute survey', Rails.configuration.surveys[:success], rel: 'external', target: '_blank' %>
    to give us your feedback about the online service you have just used?
  </p>
  <p>
    This will help us to improve it. Your feedback won’t affect your application in any way.
  </p>
</div>
