<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">If you need help</h2>
<p class="govuk-body">
  You can contact the court if you need help with your application. Court staff can’t give legal advice so you’ll
  need to
  <a href="https://www.gov.uk/find-a-legal-adviser" class="govuk-link" rel="external" target="_blank">find a legal advisor</a> if
  you have any issues.
</p>

<dl class="app-description-list">
  <dt>Email</dt>
  <dd><%= mail_to court.email, court.email, class: 'ga-pageLink govuk-link', data: { ga_category: 'completion', ga_label: 'email court' } %></dd>

  <dt>More information</dt>
  <dd><%= link_to court.name, C100App::CourtfinderAPI.new.court_url(court.slug), class: 'govuk-link', rel: 'external', target: '_blank' %></dd>
</dl>
