<h3 class="govuk-heading-m govuk-!-margin-top-6">We’d like your feedback</h3>

<p class="govuk-body">
  Would you like
  to <%= link_to 'complete a 5-minute survey', Rails.configuration.surveys[:kickout], rel: 'external', target: '_blank', class: 'govuk-link' %>
  to give us your feedback about the online service you have just used? This will help us to improve it.
</p>
