<div class="govuk-govspeak gv-s-prose util_mt-large">
  <p class="heading-medium">We’d like your feedback</p>
  <p>
    Would you like
    to <%= link_to 'complete a 5-minute survey', Rails.configuration.surveys[:kickout], rel: 'external' %>
    to give us your feedback about the online service you have just used? This will help us to improve it.
  </p>
</div>
