<p>You need to pay the £215 court fee. The court will telephone you within 3 working days of receiving your
  application to take payment using a credit or debit card. If you did not enter a telephone number, please contact the
  court to pay.</p>

<p>You can also pay by post with a cheque made out to ‘HM Courts and Tribunals Service’, or in person at the court by
  cheque, cash or card.</p>

<p>You may not need to pay the full amount if you have a
  <a href="https://www.gov.uk/get-help-with-court-fees" target="external_link" rel="external">‘Help with fees’</a>
  reference.</p>
