<% if c100_application.payment_type.eql?(PaymentType::SELF_PAYMENT_CHEQUE.to_s) %>
  <p>Post all 3 printed copies of your application (and cheque, if that’s how you choose to pay) to:</p>
<% else %>
  <p>Post all 3 printed copies of your application to:</p>
<% end %>

<div class="panel panel-border-narrow">
  <%= simple_format(court.full_address.join("\n")) %>
</div>
