<section id="what-to-do-now" class="moj-Section moj-Section--2" data-block-name="what-to-do-now">
  <h2 class="gv-u-heading-xlarge"><%= t '.what_to_do_now.heading' %></h2>
  <div class="Section__content govuk-govspeak gv-s-prose">
    <p><%= t '.what_to_do_now.copy' %></p>
  </div>
</section>

<div class="xform-group form-submit">
  <%= link_to t('.download_c100_link'), 'https://formfinder.hmctsformfinder.justice.gov.uk/c100-eng.pdf', class: 'button ga-pageLink', role: 'button', data: {ga_category: 'screener kickout', ga_label: 'paper form'} %>
</div>

<% unless local_assigns.fetch(:hide_cait_info, false) %>
  <p class="util_mt-large"><%=t '.cait_info_html' %></p>
<% end %>
