<% title 'Alternative ways to reach an agreement' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Alternative ways to reach an agreement</h1>

    <p class="govuk-body">
      As you have no safety concerns you should see if there’s a more suitable
      way to agree child arrangements than going to court.
    </p>

    <p class="govuk-body">Evidence shows it’s usually better for the children if you can reach an agreement another way.</p>

    <p class="govuk-body">By reaching an agreement out of court you may be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make the situation less stressful for the children</li>
      <li>help the children continue family relationships</li>
      <li>save time and money</li>
      <li>reduce conflict with the other person</li>
    </ul>

    <%= link_button 'Continue', edit_steps_alternatives_negotiation_tools_path %>
  </div>
</div>
