<% title 'Alternative ways to reach an agreement' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Alternative ways to reach an agreement</h1>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p>As you have no safety concerns you should see if there’s a more suitable way to agree child arrangements than
        going to court.</p>
      <p>Outcomes for children are usually better if you can reach an agreement another way. For example, mediation can
        be quicker than court and cheaper than using a lawyer.</p>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
        <p>If you can make your arrangements out of court you’ll help families in urgent situations that involve
          domestic abuse get to court quicker.</p>
      </div>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_alternatives_negotiation_tools_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
