<% title 'Back office unhandled error' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Sorry, something went wrong</h1>

    <p class="lede">You can try again, or contact a service developer.</p>
  </div>
</div>
