<% title 'Back office unhandled error' %>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, something went wrong</h1>

    <p class="govuk-body-l">
      You can try again, or contact a service developer.
    </p>
  </div>
</div>
