<% title 'Document from the mediator' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Document from the mediator</h1>

    <p class="govuk-body-l">
      You must bring the signed document from the mediator to your first hearing.
    </p>

    <p class="govuk-body">
      If you don’t provide this, and are not exempt from attending a MIAM, you may be directed to attend one.
    </p>

    <%= link_button 'Continue', steps_safety_questions_start_path %>
  </div>
</div>
