<% title 'MIAM attendance confirmation' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge">MIAM attendance confirmation</h1>

    <div class=" govuk-govspeak gv-s-prose">
      <p>You should have a document signed by the mediator confirming your attendance (which you should bring to your first hearing).
        If you don’t provide this, and are not exempt from attending a MIAM, you may be directed to attend one.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', steps_safety_questions_start_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
