table.backoffice-table {
  td {
    font-size: 90%;
  }
  div.govuk-details__text {
    font-size: 85%;
  }
  td.no-border {
    border: 0;
  }
}

div.application-extra-details {
  dt {
    font-weight: bold;
    font-size: 14px;
  }
  dd {
    padding-left: 1em;
    margin-bottom: 0.4em;
    font-size: 14px;
  }
}
