#content .flash-card {
  background-color: #005ea5;
  color: #fff;
  padding: 3rem;
  @media (min-width: 641px) {
    padding: 5rem;
    margin-bottom: -1rem;
  }
  margin-top: 1rem;
}
#content .flash-card {
  & .grid_content_header {
    @media (min-width: 641px) {
      width: 150%;
    }
  }
  & p.app__section_heading {
    margin-top: 0;
  }
  & h1.app__heading {
    margin-bottom: 3rem;
  }
  & h2 {
    font-size: 19px;
    @media (min-width: 641px) {
      font-size: 28px;
    }
  }
  & .button {
    background-color: #fff;
    color: #005ea5;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
    &:hover {
      background-color: #dee0e2;
    }
  }
  & .panel-border-wide {
    border-color: #fff;
  }
  & .panel-border-wide p {
    font-weight: bold;
  }

  & a {
    color: white;
  }
}
