// Styles here might not be possible to migrate to the new Design System
// if there is not an immediate equivalent, or in case they are really
// needed for something custom we are doing in this service.
//
// As an interim solution we will accumulate here these as we find them
// and once we have completed the migration we can get back to these and
// refactor/replace with standard styling or remove the ones not needed.
//
.dont-know {
  margin-top: -5px;
  @media (min-width: 641px) {
    margin-top: -20px;
  }
}

#court-contact-details {
  dt {
    margin-top: 15px;
  }

  dd {
    margin-bottom: 5px;
  }
}

.gv-c-notice .gv-c-notice__icon {
  top: 0;
  margin-top: 0;
}

.link-button-secondary {
  display: inline-block;
  margin: 2rem 0 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25;

  @media (min-width: 641px) {
    margin-top: 1rem;
    margin-left: 6rem;
  }
}

.button-secondary {
  @media (min-width: 641px) {
    margin-left: 6rem;
  }
}

.form-submit {
  margin-top: 3rem;
}

fieldset + .form-group {
  margin-top: 30px;
  margin-bottom: 15px;

  @media (min-width: 641px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-border-wide {
  padding: 16px 32px;
  padding: 1rem 2rem;
  border-left: solid 10px #bfc1c3;
  margin: 16px 0 32px;
  margin: 1rem 0 2rem;
}

.panel-border-wide > p:last-child {
  margin-bottom: 0;
}
