.SideBar {
  a {
    font-size: 90%;
  }
  ul {
    margin-top: 5px;
  }
  li {
    margin: 0px;
    padding: 0px;
  }
}

.SideBarGrey {
  padding: 15px;
  background: #dee0e2;

  p, a {
    font-size: 90%;
  }
}

.SideBar__blue-bar {
  padding: 3px;
  background-color: #005ea5;
  margin-bottom: 10px;
}

@media (min-width: 740px){
  body:not(.flowchart) .SideBar{
    margin-top:0;
    position:absolute;
    top:11.7rem;
    right:0;
    width:30%;
  }
}
.SideBar .SideBar--header{
  margin-top:52px;
  margin-top:3.25rem;
}

.SideBar__heading {
  font-size: 1.2em;
}

@media (min-width: 641px){
  .SideBar .SideBar__heading{
    line-height:1.31579;
    margin-top:1.05263em;
  }
}
@media (min-width: 740px){
  .SideBar .SideBar__heading{
    margin-top:0;
  }
}
