<% title 'You need a MIAM certificate' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">You need a signed MIAM certificate from your mediator</h1>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p>You’ll need to contact your mediator who carried out the
        <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> and ask for a signed certificate
        confirming your attendance.</p>
      <p>When you receive the certificate you can return to the application.</p>
    </div>
  </div>
</div>
