<% title 'You need a MIAM certificate' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <!-- This is a temporal placeholder -->

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">You need a signed MIAM certificate from your mediator</h1>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <ol class="list list-number">
        <li>Go to mediator</li>
        <li>Ask for certificate</li>
        <li>Return to continue</li>
      </ol>
    </div>
  </div>
</div>
