.panel-border-wide {
  padding: 16px 32px;
  padding: 1rem 2rem;
  border-left: solid 10px #bfc1c3;
  margin: 16px 0 32px;
  margin: 1rem 0 2rem;
}

.panel-border-wide > p:last-child {
  margin-bottom: 0;
}

.app__section_heading {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .app__section_heading {
    font-size: 1.9rem;
    line-height: 1.31579;
    margin-top: 1.05263em;
  }
}

.app__section_heading + .app__heading {
  margin-top: 16px;
  margin-top: 1rem;
}

.js-enabled {
  .js-hidden {
    display: none !important;
  }
}

.no-js-only {
  display: block;

  .js-enabled & {
    display: none !important;
  }
}

li.no-js-only {
  display: list-item;
}

.js-only {
  display: none !important;

  .js-enabled & {
    display: block !important;
  }
}

.js-enabled li.js-only {
  display: list-item !important;
}

.gv-u-heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04167;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em;
}

section.numbered-list ol{
  padding-left:0;
}
section.numbered-list ol > li{
  background-position:0 0.87em;
  background-repeat:no-repeat;
  list-style-type:none;
  margin-left:0;
  padding:0.75em 0 0.75em 2.2em;
}
section.numbered-list ol > li:nth-child(1){
  background-image: image-url('icon-step-1.png');
}
section.numbered-list ol > li:nth-child(2){
  background-image: image-url('icon-step-2.png');
}
section.numbered-list ol > li:nth-child(3){
  background-image: image-url('icon-step-3.png');
}
section.numbered-list ol > li:nth-child(4){
  background-image: image-url('icon-step-4.png');
}

#miam-requirement_acknowledgement{
  padding-top:96px;
  padding-top:6rem;
}
#content [data-block-name="route:application-requirements"] {
  background-color: #0053a5;
  color: #fff;
  padding: 3rem;
  margin-top: 1rem;
}
#content [data-block-name="route:application-requirements"] {
  & .button {
    background-color: #fff;
    color: #0053a5;
  }
  & .panel-border-wide {
    border-color: #fff;
  }
  & .panel-border-wide p {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

#court-contact-details {
  dt {
    margin-top: 15px;
  }

  dd {
    margin-bottom: 5px;
  }
}

@import 'app/pros_cons';