#content {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.start-page a.button.button-start {
  margin-bottom: 3rem;
}

#miam-requirement_acknowledgement{
  padding-top:96px;
  padding-top:6rem;
}

#new_steps_miam_acknowledgement_form,
#new_steps_alternatives_court_form {
  margin-top: 6rem;
}

#new_steps_petition_orders_form > .form-group {
  margin-bottom: 0;
  & > fieldset {
    & > .multiple-choice {
      min-height: 6rem;
    }
    & > .panel {
      margin-top: -2rem;
      margin-bottom: 3rem;
    }
  }
}

.dont-know {
  margin-top: -5px;
    @media (min-width: 641px) {
      margin-top: -20px;
    }
}

[data-target="dob_unknown_panel"] {
  margin-top: -15px;
    @media (min-width: 641px) {
      margin-top: -30px;
    }
}

#court-contact-details {
  dt {
    margin-top: 15px;
  }

  dd {
    margin-bottom: 5px;
  }
}

.gv-c-notice .gv-c-notice__icon {
  top: 0;
  margin-top: 0;
}

.miam_exemptions > form > .form-group > fieldset > .multiple-choice > label > span.form-hint {
  margin-top: 0.5rem;
}

.miam_exemptions > form p:empty {
  display: none;
}

.miam_exemptions_list details {
  margin: -1rem 0 2rem;
}

.about-section {
  margin-top: 50px;
}

.prototype-step {
  padding: 20px;
  border: 1px solid #666666;
  background-color: #dddddd;
}

form.fmc-lookup-form {
  padding-bottom: 0;
  margin-bottom: 0;

  label {
    font-weight: normal;
  }
}

// This will hide the Sentry user-feedback attribution. There is a setting
// to hide it but currently it is not working, so this is an alternative.
div.sentry-error-embed-wrapper p.powered-by {
  display: none;
}

@import 'app/flash_card';
@import 'app/pros_cons';
@import 'app/sidebar';
