.link-button {
  background: none;
  color: $link-colour;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  padding-right: 50px;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
}

.button.button-secondary{
  background:transparent;
  color:#005ea5;
  border-bottom-color:#fff;
  box-shadow:none;
  text-decoration:underline;
  padding-left:0;
  padding-right:0;
  margin-left:96px;
  margin-left:6rem
}
.button.button-secondary:hover{
  background:transparent;
  color:#2b8cc4;
}
.button.button-secondary:first-child{
  margin-left:0;
}