form {
  .app_heading {
      margin-bottom: 3rem;
  }

  &.button_to {
    padding-bottom: 0;

    #navigation & {
      input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        padding: 0;
        margin: 0;
        font-weight: bold;
        cursor: pointer;
        text-decoration-skip: ink;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          color: $black;
          background-color: $yellow;
          outline: 3px solid $yellow;
        }
      }
    }
  }
}

/* Tweaks */

.form-submit {
  margin-top: 3rem;
}

.error {
  margin-right: 15px;
  border-left: 4px solid $error-colour;
  padding-left: 10px;

  @media (min-width: 641px) {
    border-left: 5px solid $error-colour;
    padding-left: 15px;
  }
}

.button-add,
.button-remove {
  padding-left: 0;
}

.miam_exemptions form {
  & > .form-group > fieldset {
    & > legend {
      margin-bottom: 2rem;
    }

    & > .multiple-choice {
      min-height: 5rem;

      & + .panel {
        margin-top: -2rem;
        margin-bottom: 3rem;
      }
    }

    & .list:last-child {
      margin-bottom: 0;
    }
  }

  & label .heading-small {
    font-weight: normal;
    margin-top: 0;
  }
}

.form-label {
  font-weight: bold;
}

.form-label-normal {
  font-weight: normal;
}

fieldset + .form-group {
  margin-top: 30px;
  margin-bottom: 15px;

  @media (min-width: 641px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fieldset-compact {
  padding-bottom: 30px;

  .form-group {
    margin-bottom: 0;
  }

  .form-group + .form-group {
    margin-top: 15px;
  }

  .form-group + button {
    margin-top: 5px;
  }
}

.form-hint {
  &:empty {
    display: none
  }
  .form-date & {
    margin-bottom: 0;
  }
}
