form {
  .app_heading {
      margin-bottom: 3rem;
  }
  
  &.button_to {
    padding-bottom: 0;

    #proposition-links & {
      input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        padding: 0;
        margin: 0;
        font-weight: bold;
        cursor: pointer;
        text-decoration-skip: ink;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          color: $black;
          background-color: $yellow;
          outline: 3px solid $yellow;
        }
      }
    }
  }
}

/* Tweaks */

.form-submit {
  margin-top: 3rem;
}

.error {
  margin-right: 15px;
  border-left: 4px solid $error-colour;
  padding-left: 10px;

  @media (min-width: 641px) {
    border-left: 5px solid $error-colour;
    padding-left: 15px;
  }
}

label[for="steps_safety_questions_substance_abuse_details_form_substance_abuse_details"] {
  color: transparent;
}

label[for="steps_abduction_risk_details_form_risk_details"] {
  display: none;
}

.button-add {
  padding-left: 0;
}

.miam_exemptions form {
  & > .form-group > fieldset {
    & > legend {
      margin-bottom: 2rem;
    }

    & > .multiple-choice {
      min-height: 5rem;

      & + .panel {
        margin-top: -2rem;
        margin-bottom: 3rem;
      }
    }

    & .list:last-child {
      margin-bottom: 0;
    }
  }

  & label .heading-small {
    font-weight: normal;
    margin-top: 0;
  }
}

.form-block.or-block {
  float: none;
  margin-top: -4rem;

  .or-block__shift & {
    margin-top: -4rem;
  }
}

.form-label {
  font-weight: bold;
}

.form-label-normal {
  font-weight: normal;
}

fieldset + .form-group {
  margin-top: 30px;
  margin-bottom: 15px;
  
  @media (min-width: 641px) {
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fieldset-compact {
  padding-bottom: 30px;

  .form-group {
    margin-bottom: 15px;
  }
}

.form-hint {
  &:empty {
    display: none
  }
  .form-date & {
    margin-bottom: 0;
  }
}

// This is a workaround to make the fieldset legends visually hidden, as `govuk_elements_form_builder`
// doesn't support this in their current version.
//
// Update: it turns out, WE NEED labels sometimes, so can't hide all or nothing. Commenting out for now and
// we might need to revisit PR: https://github.com/ministryofjustice/govuk_elements_form_builder/pull/89
//
//fieldset {
//  legend {
//    span.form-label-bold {
//      @extend .visuallyhidden
//    }
//  }
//}
