textarea.form-control-large {
  height: 20em;
}

.form-control-full-width {
  width: $full-width;
}

.form-group input[type=text].form-control,
.form-group textarea.form-control {
  width: $full-width;
}

@media (min-width: 641px) {
  input[type=password].form-control,
  input[type=text].form-control[name*=phone],
  input[type=text].form-control[name*=age_estimate],
  input[type=text].form-control.narrow {
    width: 50%;
  }
  input[type=text].form-control[name*=town],
  input[type=text].form-control[name*=country] {
    width: 75%;
  }
  input[type=text].form-control[name*=postcode] {
    width: 25%;
  }
}

.block-label:last-child,
.block-label:last-of-type {
  margin-bottom: 10px;
}

// Individual checkboxes
.single-cb {
  width: 90%;
}
.multiple-choice.single-cb {
  float: none;
  display: table;
}

// Maintain the width when toggling between input password and input text.
// Otherwise the input text override the width, making it bigger.
.js-toggleable-password {
  width: $full-width;
}
