textarea.form-control-large {
  height: 20em;
}

.form-control-full-width {
  width: $full-width;
}

.block-label:last-child,
.block-label:last-of-type {
  margin-bottom: 10px;
}

// Individual checkboxes
.single-cb {
  width: $full-width;
}

// Maintain the width when toggling between input password and input text.
// Otherwise the input text override the width, making it bigger.
.js-toggleable-password {
  width: 50% !important;
}
