ul.buttons {
  li {
    margin-bottom: $gutter;
  }
}

// Second level lists get circles instead of bullets
li li {
  list-style: circle;
}
// Third level lists get squares instead of bullets
li li li {
  list-style: square;
}

section.numbered-list h3 {
  margin-top: 0;
}

section.numbered-list ol{
  padding-left:0;
}
section.numbered-list ol > li{
  background-position:0 0.87em;
  background-repeat:no-repeat;
  list-style-type:none;
  margin-left:0;
  padding:0.75em 0 0.75em 2.2em;
}
section.numbered-list ol > li:nth-child(1){
  background-image: image-url('icon-step-1.png');
}
section.numbered-list ol > li:nth-child(2){
  background-image: image-url('icon-step-2.png');
}
section.numbered-list ol > li:nth-child(3){
  background-image: image-url('icon-step-3.png');
}
section.numbered-list ol > li:nth-child(4){
  background-image: image-url('icon-step-4.png');
}
section.numbered-list ol > li:nth-child(5){
  background-image: image-url('icon-step-5.png');
}
section.numbered-list ol > li p:last-child {
  margin-bottom: 0;
}
