#application-details-pdf {
  $light-grey: #cccccc;
  $dark-grey: #6f777b;

  font-family: "nta", Arial, sans-serif;
  padding: 20px;
  width: 70%;
  margin: 0 auto;

  p, ul {
    font-size: 70%;
  }

  .form-header {
    h1 {
      font-size: 110%;
      font-weight: bold;
      margin: 0;
    }
  }

  tr.blank-space {
    td {
      border: none;
    }
  }

  tr.answer-box {
    td {
      border-bottom: none;
      vertical-align: middle;
      height: 20px;
    }

    div.box-to-fill {
      border: 1px solid $dark-grey;
      background-color: #fff;
      color: $light-grey;
      padding: 3px;
    }

    div.date-box {
      display: inline-block;
      margin-right: -4px;
    }
    div.text-area-box {
      height: 40px;
    }

    span.separator {
      margin-right: 10px;
    }
  }

  h2.main-section-header {
    font-size: 90%;
    font-weight: 700;
    border-bottom: 1px solid $dark-grey;
    padding: 2px 0 0 0;
  }

  h3.section-header {
    font-size: 70%;
    font-weight: 700;
    border-bottom: 1px solid $dark-grey;
    padding: 2px 0 0 0;
  }

  table {
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  table.no-borders {
    td {
      border: none;
    }
  }

  td {
    vertical-align: top;
    font-size: 70%;
    border-bottom: 1px solid $light-grey;
    margin: 0;
  }

  td.question,
  td.answer,
  td.separator {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 60%;
  }

  td.separator {
    font-weight: 700;
  }

  table.subtable {
    td {
      padding: 0 0 5px;
    }
    td.question {
      font-weight: 500;
      font-size: 70%;
      width: 100%;
    }
    td.answer {
      text-align: right;
    }
  }

  .user-text {
    p {
      margin-top: 0;
    }
  }

  .answer-contact-details {
    p {
      margin: 0;
    }

    p:last-child {
      margin-top: 10px;
    }
  }

  div.page-break {
    page-break-before: always;
  }

  #risk_concerns {
    td.description {
      width: 50%;
      padding-right: 10px;
    }
  }

  #additional_information {
    td {
      border: none;
      padding: 5px 0 0 0;
    }
    td.question {
      font-weight: 500;
      width: 90%;
    }
    td.answer {
      width: 10%;
      text-align: right;
    }
  }

  #children_known_to_authorities {
    td {
      padding-top: 15px;
    }
  }

  #c100_court_details,
  #c1a_court_details,
  #c8_court_details {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;

    td {
      border-bottom: none;
    }
  }
}
