h1.gv-u-heading-xxlarge {
  font-size: 24px;

  @media (min-width: 641px) {
    font-size: 36px;
  }
}

.gv-u-heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04167;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em;
}

.app__section_heading {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;

  @media (min-width: 641px) {
    font-size: 1.9rem;
    line-height: 1.31579;
    margin-top: 1.05263em;
  }
}

.app__section_heading + .app__heading {
  margin-top: 16px;
  margin-top: 1rem;
}
