strong {
  font-weight: bold;
}

form {
  padding-bottom: $gutter;
}

.form-submit + details,
details + form {
  margin-top: $gutter;
}

.step-info {
  @include core-19;
  color: $grey-1;

  margin-top: 45px;
  margin-bottom: 0;

  .link-back {
    @include core-19;
    margin-right: 5px;
    &:focus {
      outline: 1px solid $link-active-colour;
    }
  }

  & + .heading-large {
    margin-top: 0;
  }
}

.link-back {
  border-top: 1px solid transparent;
  
  &:focus {
    border-top: 1px solid $focus-colour;
  }
}

.check-your-answers {
  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

  p.simple-format {
    margin-top: 0;
  }
}

address {
  font-style: normal;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions {
  a, input {
    vertical-align: middle;
    display: inline-block;
  }

  a {
    margin-top: 2em;

    @media (min-width: 641px) {
      margin-left: 3em;
      margin-top: 1.6em;

      &.return-application {
        margin-top: 2.2em;
      }
    }
  }

  a.button {
    margin-left: 0;
  }

  form {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  &.actions-tight {
    a {
      margin-left: 0;
      margin-bottom: 5px;

      @media (min-width: 641px) {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
}

.js-toggle-password {
  cursor: pointer;
  color: $link-colour;
  text-decoration: underline;
  margin-bottom: 0;
}

.govuk-box-highlight {
  p {
    @include core-24;
  }
}

h2.notice {
  margin-bottom: 1em;
}

h1.gv-u-heading-xxlarge {
  font-size: 24px;

  @media (min-width: 641px) {
    font-size: 36px;
  }

  a.link-back + &,
  a.link-back + .grid_content_header > &,
  a.link-back + .app__section_heading + & {
    margin: 0.25rem 0 3rem;
  }
}

.gv-u-heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04167;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em;
}

h2.gv-u-heading-large {
  font-size: 19px;

  @media (min-width: 641px) {
    font-size: 28px;
  }
}

.start-page h2 {
  margin-top: 1.25em;
  margin-bottom: 0.55556em;

  @media (min-width: 641px) {
    font-size: 36px;
    line-height: 1.11111;
  }
}

h1.heading-start {
  font-size: 32px;

  @media (min-width: 641px) {
    font-size: 48px;
  }
}

.app__section_heading {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
  
  @media (min-width: 641px) {
    font-size: 1.9rem;
    line-height: 1.31579;
    margin-top: 1.05263em;
  }
  
  a.link-back + & {
    margin-top: 0;
  }
}

.app__section_heading + .app__heading {
  margin-top: 16px;
  margin-top: 1rem;
}
