address {
  font-style: normal;
}

strong {
  font-weight: $govuk-font-weight-bold;
}

.app-util--inline-buttons {
  form {
    display: inline;
  }
}

.app-util--no-wrap {
  white-space: nowrap;
}

.app-util--disabled-color {
  color: $govuk-secondary-text-colour;
}

.app-util--compact-form-group {
  margin-bottom: 0.4em;
}

.app-util--border-box {
  border: 2px solid govuk-colour("black");
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(5);
}
