// This will hide the Sentry user-feedback attribution. There is a setting
// to hide it but currently it is not working, so this is an alternative.
div.sentry-error-embed-wrapper p.powered-by {
  display: none;
}

address {
  font-style: normal;
}

strong {
  font-weight: $govuk-font-weight-bold;
}

.app-util--inline-buttons {
  form {
    display: inline;
  }
}

.app-util--no-wrap {
  white-space: nowrap;
}

.app-util--disabled-color {
  color: govuk-colour("mid-grey");
}

.app-util--compact-form-group {
  div.govuk-form-group {
    margin-bottom: 0.4em;
  }
}

.app-util--border-box {
  border: 2px solid govuk-colour("black");
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(5);
}
