<% title 'MIAM exemptions' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <a class="link-back" href="<%= url_for(:back) %>">Back</a>
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Valid reasons not to attend a MIAM</h1>

    <div class=" govuk-govspeak gv-s-prose">
      <p>You don’t have to attend a MIAM if any of the following apply:</p>
      <ul class="list list-bullet">
        <li>your application is urgent because there’s a risk to your or the children’s safety</li>
        <li>you or the other person has made an allegation of domestic abuse</li>
        <li>you’re already involved with social services due to concerns about the children’s safety or wellbeing</li>
        <li>your situation is about money and you or the other person is bankrupt</li>
        <li>you don’t want the other person to know you’re applying to court, and you have a good reason why they shouldn’t know (for example there’s safety concerns)</li>
        <li>you or the other person is in prison or subject to bail conditions that prevent contact with each other</li>
        <li>you don’t know where the other person is</li>
        <li>you or the other person don’t normally live in either England or Wales</li>
        <li>you live further than 15 miles from a mediator</li>
        <li>you’ve contacted 3 mediators and can’t get an appointment within 15 working days</li>
        <li>you or the other person has a disability and the mediator doesn’t have disabled facilities</li>
        <li>a mediator has stated mediation isn’t suitable or hasn’t worked - for example the other person isn’t willing to attend or you’ve tried - mediation and it’s been unsuccessful</li>
        <li>your application relates to another family issue that a court is dealing with</li>
        <li>you and the other person agree about arrangements and are applying for a consent order</li>
      </ul>
    </div>
  </div>
</div>
