<% title 'MIAM exemptions' %>

<div class="grid-row miam_exemptions_list">
  <div class="column-two-thirds">
    <a class="link-back" href="<%= url_for(:back) %>">Back</a>
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Valid reasons not to attend a MIAM</h1>

    <div class="govuk-govspeak gv-s-prose">
      <p>If you think you’re exempt from attending a MIAM, you must be prepared to explain your reasons to the court and
        you may be asked to provide evidence at the hearing.
      </p>
      <p>A MIAM is not mediation. It is an initial meeting that explains mediation and alternative ways of reaching an
        agreement without going to court. A mediator considers with you whether these other ways are suitable in your
        case.
      </p>

      <p>You do not have to attend a MIAM if:</p>

      <ul class="list list-bullet">
        <li>you're applying for a consent order</li>
        <li>any of the children in the application are going through emergency proceedings, care proceedings or supervision proceedings</li>
        <li>any of the children in the application are the subject of an emergency protection order, care order or supervision order</li>
        <li>any of the following:</li>
      </ul>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-large">
      <p class="heading-medium">You have evidence of domestic abuse and violence</p>

      <p>
        <a href="https://www.gov.uk/government/collections/sample-letters-to-get-evidence-of-domestic-violence" target="external_link" rel="external">Sample
          letters to get evidence of domestic violence</a>
      </p>

      <p>
        <strong>The police have been involved</strong>
        <br/>
        For example, you or the other people in this application (the respondents) have been arrested, cautioned, charged or convicted for <a href="https://www.gov.uk/government/publications/domestic-violence-and-child-abuse-offences" target="external_link" rel="external">domestic or child abuse offences</a>.
      </p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>evidence that a prospective party has been arrested for a relevant domestic violence offence</li>
            <li>evidence of a relevant police caution for a domestic violence offence</li>
            <li>evidence of relevant criminal proceedings for a domestic violence offence which have not concluded</li>
            <li>evidence of a relevant conviction for a domestic violence offence</li>
            <li>a domestic violence protection notice issued under section 24 of the Crime and Security Act 2010 against a prospective party</li>
          </ul>
        </div>
      </details>

      <p><strong>A court has already been involved</strong><br/>For example, a court has made an order relating to you, the other people in this application (the respondents) or somebody close to you or them in connection with domestic violence or abuse.</p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a court order binding a prospective party over in connection with a domestic violence offence</li>
            <li>a relevant protective injunction</li>
            <li>an undertaking given in England and Wales under section 46 or 63E of the Family Law Act 1996 (or given in Scotland or Northern Ireland in place of a protective injunction) by a prospective party, provided that a cross-undertaking relating to domestic violence was not given by another prospective party</li>
            <li>a copy of a finding of fact, made in proceedings in the UK, that there has been domestic violence by a prospective party</li>
            <li>an expert report produced as evidence in proceedings in the UK for the benefit of a court or tribunal confirming that a person with whom a prospective party is or was in a family relationship, was assessed as being, or at risk of being, a victim of domestic violence by that prospective party</li>
          </ul>
        </div>
      </details>

      <p><strong>A letter confirms you or the other people in this application (the respondents) are or have been a victim of domestic violence or abuse</strong><br/>For example, a health professional or specialist has confirmed injuries that are or were a result of domestic violence or abuse.</p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a letter or report from an appropriate health professional confirming that:
              <ul class="list list-bullet">
                <li>(i) that professional, or another appropriate health professional, has examined a prospective party in person; and</li>
                <li>(ii) in the reasonable professional judgment of the author or the examining appropriate health professional, that prospective party has, or has had, injuries or a condition consistent with being a victim of domestic violence</li>
              </ul>
            </li>
            <li>a letter or report from:
              <ul class="list list-bullet">
                <li>(i) the appropriate health professional who made the referral described below</li>
                <li>(ii) an appropriate health professional who has access to the medical records of the prospective party referred to below; or</li>
                <li>(iii) the person to whom the referral described below was made</li>
              </ul>
              <p>confirming that there was a referral by an appropriate health professional of a prospective party to a person who provides specialist support or assistance for victims of, or those at risk of, domestic violence</p>
            </li>
          </ul>
        </div>
      </details>

      <p><strong>A letter from a local authority or other agency confirms a risk of harm</strong><br/>For example, a local authority or housing association has confirmed there is a risk of domestic abuse.</p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a letter from any person who is a member of a multi-agency risk assessment conference (or other suitable local safeguarding forum) confirming that a prospective party, or a person with whom that prospective party is in a family relationship, is or has been at risk of harm from domestic violence by another prospective party</li>
            <li>a letter from an officer employed by a local authority or housing association (or their equivalent in Scotland or Northern Ireland) for the purpose of supporting tenants containing:
              <ul class="list list-bullet">
                <li>(i) a statement to the effect that, in their reasonable professional judgment, a person with whom a prospective party is or has been in a family relationship is, or is at risk of being, a victim of domestic violence by that prospective party</li>
                <li>(ii) a description of the specific matters relied upon to support that judgment; and</li>
                <li>(iii) a description of the support they provided to the victim of domestic violence or the person at risk of domestic violence by that prospective party</li>
              </ul>
            </li>
            <li>a letter from a public authority confirming that a person with whom a prospective party is or was in a family relationship, was assessed as being, or at risk of being, a victim of domestic violence by that prospective party (or a copy of that assessment)</li>
          </ul>
        </div>
      </details>

      <p><strong>You have a letter from a domestic violence or abuse support service, specialist or organisation</strong><br/>For example, an independent domestic violence or abuse adviser has confirmed they are providing support to you or the other people in this application (the respondents)</p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a letter from an independent domestic violence advisor confirming that they are providing support to a prospective party</li>
            <li>a letter from an independent sexual violence advisor confirming that they are providing support to a prospective party relating to sexual violence by another prospective party</li>
            <li>
              <p>
                a letter which:<br/>
                (i) is from an organisation providing domestic violence support services, or a registered charity, which letter confirms that it:
              </p>
              <ul class="list list-bullet">
                <li>(a) is situated in England and Wales</li>
                <li>(b) has been operating for an uninterrupted period of six months or more; and</li>
                <li>(c) provided a prospective party with support in relation to that person’s needs as a victim, or a person at risk, of domestic violence; and</li>
              </ul>
              <p>
              (ii) contains:
              </p>
              <ul class="list list-bullet">
                <li>(a) a statement to the effect that, in the reasonable professional judgment of the author of the letter, the prospective party is, or is at risk of being, a victim of domestic violence</li>
                <li>(b) a description of the specific matters relied upon to support that judgment</li>
                <li>(c) a description of the support provided to the prospective party; and</li>
                <li>(d) a statement of the reasons why the prospective party needed that support</li>
              </ul>
            </li>
            <li>
              a letter or report from an organisation providing domestic violence support services in the UK confirming:
              <ul class="list list-bullet">
                <li>(i) that a person with whom a prospective party is or was in a family relationship was refused admission to a refuge</li>
                <li>(ii) the date on which they were refused admission to the refuge; and</li>
                <li>(iii) they sought admission to the refuge because of allegations of domestic violence by the prospective party referred to in paragraph (i)</li>
              </ul>
            </li>
          </ul>
        </div>
      </details>

      <p>
        <strong>You or any of the people in this application (the respondents) have been granted indefinite leave to remain in the UK as a victim of domestic abuse</strong>
        <br/>A letter from the Home Office will have confirmed that your leave was granted under paragraph 289B of the Immigration Rules.
      </p>
      <details>
        <summary>
          <span class="summary">What evidence is accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a letter from the Secretary of State for the Home Department confirming that a prospective party has been granted leave to remain in the UK under <a href="https://www.gov.uk/guidance/immigration-rules/immigration-rules-part-8-family-members#pt8violence" target="external_link" rel="external">paragraph 289B of the Rules made by the Home Secretary under section 3(2) of the Immigration Act 1971</a></li>
          </ul>
        </div>
      </details>

      <p>
        <strong>You have evidence that you or the other people in this application (the respondents) have been, or are at risk of being, financially abused by the other</strong>
        <br/>Financial abuse is a way of controlling someone being able to earn, spend or keep their own money. For example, preventing someone from going to work, withholding money, or putting debts in someone else’s name.
      </p>
      <details>
        <summary>
          <span class="summary">Evidence could include</span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li>a copy of a of a credit card account, loan document or bank statements</li>
            <li>a letter from a domestic violence support organisation</li>
            <li>emails, text messages or a diary kept by the victim</li>
          </ul>
        </div>
      </details>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-large">
      <p class="heading-medium">There are child protection concerns</p>
      <p>
        These concerns are relevant where any of the following apply:
      </p>
      <p>
        A local authority is carrying out enquiries or an assessment about any of the children in this application, or other child in the household
      </p>
      <p>
        Any of the children in this application, or other child in the household, is the subject of a child protection plan
      </p>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-large">
      <p class="heading-medium">You’re asking for an urgent hearing</p>

      <p>A court will only consider an urgent hearing where it's satisfied that there is good reason for the urgency.</p>

      <details>
        <summary>
          <span class="summary">What reasons are accepted</span>
        </summary>
        <div class="panel panel-border-narrow">
          <p>There is:</p>
          <ul class="list list-bullet">
            <li>risk to the life, liberty or physical safety of you, your family or your home</li>
            <li>significant risk that in the period needed to arrange and attend a MIAM, proceedings relating to the dispute will be brought in another state in which a valid claim to jurisdiction may exist, such that a court in that other state would be seized of the dispute before a court in England and Wales</li>
          </ul>
          <p>Any delay caused by attending a MIAM would cause:</p>
          <ul class="list list-bullet">
            <li>unreasonable hardship for you</li>
            <li>a risk of harm to the children</li>
            <li>a risk of unlawful removal of a child from the UK, or a risk of unlawful retention of a child who is currently outside England and Wales</li>
            <li>a significant risk of a miscarriage of justice</li>
            <li>irretrievable problems in dealing with the dispute (including the irretrievable loss of significant evidence)</li>
          </ul>
        </div>
      </details>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-large">
      <p class="heading-medium">You’ve previously been to a MIAM or had a valid reason for not attending one</p>

      <p>
        <strong>You’ve already been to a MIAM or are taking part in another form of non-court resolution</strong>
        <br/>The MIAM must have taken place within the past 4 months (or your attendance at another type of non-court resolution must be ongoing) and have been about the same or a very similar dispute.
      </p>
      <p>You’re involved in other ongoing family court proceedings and you attended a MIAM before starting those proceedings.</p>

      <p>
        <strong>You had a valid reason for not attending a MIAM previously</strong>
        <br/>You have made another court application within the last 4 months about the same or a very similar dispute and you had a confirmed valid reason for not attending a MIAM before making that application.
      </p>
      <p>You're involved in other ongoing family court proceedings where the applicant in those proceedings had a confirmed valid reason for not attending a MIAM.</p>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-large">
      <p class="heading-medium">Any other exemptions</p>

      <p>
        <strong>You don’t have sufficient contact details for the other people in this application (the respondents)</strong>
        <br/>The other people can't be contacted to arrange a MIAM.
      </p>

      <p>
        <strong>You’re applying for a without notice hearing</strong>
        <br/>Hearings which take place without notice to the other person will only be justified where your case is exceptionally urgent, or there is good reason not to tell the other people about your application  (either because they could take steps to obstruct the application or because doing so may expose you or the children to a risk of harm).
      </p>

      <p>
        <strong>You can’t access a mediator</strong>
        <br/>Examples of not being able to access a mediator include:
      </p>
      <ul class="list list-bullet">
        <li>you live further than 15 miles from a mediator</li>
        <li>you’ve contacted all the mediators with an office within 15 miles of where you live (or at least 3, if there are more) and can’t get an appointment for a MIAM within 15 working days</li>
        <li>you or any of the other people in this application (the respondents) have a disability and there are no mediators within 15 miles who can offer disabled facilities</li>
        <li>
          you or any of the other people in this application (the respondents) are:
          <ul class="list list-bullet">
            <li>in prison or any other institution</li>
            <li>subject to bail conditions that prevent contact with each other</li>
            <li>subject to a licence that prohibits contact with each other</li>
          </ul>
        </li>
      </ul>
      <p>The court may ask you for the contact details of the mediators and the dates you contacted them.</p>

      <p>
        <strong>You or the other people in this application (the respondents) don’t live in England or Wales</strong>
        <br/>You don’t need to attend a MIAM if the lives of you or the other people involved are mainly based outside England or Wales. This may include working, owning property, having children in school or if family life mainly takes place outside England or Wales.
      </p>

      <p>
        <strong>The applicant or any of the other people in this application (the respondents) are under 18 years old</strong>
        <br/>You don’t need to attend a MIAM if you or any other person who is a respondent in this application is under 18.
      </p>
    </div>
  </div>
</div>
