<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%- "court details go here" %>

    <p>
      <strong class=" bold-large gv-c-notice__text">
        <%= t '.warning' %>
      </strong>
    </p>

  </div>
</div>
