<h1>"<%= @service_name %>" Submission</h1>

<p>Thankyou for submitting your application through the "<%= link_to @service_name, root_url %>"
service</p>
<p>Your reference number is <strong><%= @reference_code %></strong></p>

<p>The court will contact you soon to arrange payment</p>

<p>You can email the court by replying to this email</p>
<p>For any technical questions about this email, please email <%= @tech_email %></p>
