<div class="wide-margin">
  <div class="grid_content_header govuk-box-highlight">
    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge">Your application has been submitted</h1>
    <p>Your reference code is:<br/><strong><%= @reference_code %></strong></p>
  </div>

  <p>Your completed application has been sent to <%= @court.name %>. After your payment has been processed, the court will be in touch with what happens next.</p>

  <strong>A copy of your application is attached to this email.</strong>

  <h2>Pay the application fee</h2>
  <p>You need to pay the £215 court fee. The court will telephone you (it may come from a ‘private number’) within 3
    working days of receiving your application to take payment using a credit or debit card. If you did not enter a
    telephone number or you do not get a call, please contact the court to pay.</p>

  <p>You can also pay by post with a cheque made out to ‘HM Courts and Tribunals Service’, or in person at the court by
    cheque, cash or card.</p>

  <p>The court will not be able to process your application until payment has been received.</p>

  <p>You may not need to pay the full amount if you have a
    <a href="https://www.gov.uk/get-help-with-court-fees">‘Help with fees’</a> reference.</p>

  <%= render partial: 'mailers/shared/court_help', locals: {court: @court} %>

  <%= render partial: 'mailers/shared/feedback' %>
</div>
