<h1>"<%= @service_name %>" Submission</h1>
<p>Someone has submitted the attached C100 application through the "<%= link_to @service_name, root_url %>"
service.</p>
<p>Their reference code is: <strong><%= @reference_code %></strong></p>

<p>Please take the following steps:</p>

<ul>
  <li>Enter the data into your case management systems as appropriate</li>
  <li>Contact the applicant to take their payment, if required</li>
</ul>

<p>You can email the applicant by replying to this email</p>

<%= render partial: 'mailers/shared/technical_help' %>
