<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_date_issued' %>
  </td>

  <td class="answer answer-value">
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-d1"/>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-d2"/>
    <span class="separator"></span>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-m1"/>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-m2"/>
    <span class="separator"></span>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-y1"/>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-y2"/>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-y3"/>
    <input class="box-to-fill date-box" type="text" maxlength="1" name="date-y4"/>
  </td>
</tr>
