<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_orders_applied_for' %>
  </td>

  <td class="answer answer-value">
    <div class="box-to-fill text-area-box">&nbsp;</div>
  </td>
</tr>
