<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_family_court' %>
  </td>

  <td class="answer answer-value">
    <input class="box-to-fill" type="text" name="admin-family-court" />
  </td>
</tr>

<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_case_number' %>
  </td>

  <td class="answer answer-value">
    <input class="box-to-fill" type="text" name="admin-case-number"/>
  </td>
</tr>
