<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_date_issued' %>
  </td>

  <td class="answer answer-value">
    <div class="box-to-fill date-box">D</div>
    <div class="box-to-fill date-box">D</div>
    <span class="separator"></span>
    <div class="box-to-fill date-box">M</div>
    <div class="box-to-fill date-box">M</div>
    <span class="separator"></span>
    <div class="box-to-fill date-box">Y</div>
    <div class="box-to-fill date-box">Y</div>
    <div class="box-to-fill date-box">Y</div>
    <div class="box-to-fill date-box">Y</div>
  </td>
</tr>
