<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_orders_applied_for' %>
  </td>

  <!-- DO NOT use `<textarea/>`, as it creates incorrect PDF markup -->
  <td class="answer answer-value">
    <textarea class="box-to-fill text-area-box" rows="5" name="admin-orders"></textarea>
  </td>
</tr>
