<h3 class="section-header">Getting support</h3>
<br/>

<p>
  If you have any concerns about your safety and that of the children you can call the
  <strong>National Domestic Violence
    Helpline</strong> on <strong>freephone 0808 2000 247</strong> or you get more information from
  <a href="https://www.nationaldomesticviolencehelpline.org.uk" rel="external">www.nationaldomesticviolencehelpline.org.uk</a>
</p>

<p>
  If you are a man and have concerns for your safety and that of the children you can call the
  <strong>Men’s Advice Line and
    Enquiry</strong> on <strong>freephone 0808 801 0327</strong> or you get more information from
  <a href="https://www.mensadviceline.org.uk" rel="external">www.mensadviceline.org.uk</a>
</p>

<p>
  Other organisations that may be able to provide advice for children or young people are: <strong>Childline</strong> on
  <strong>freephone 0800
    1111</strong> and <strong>NSPCC Child Protection Helpline</strong> on <strong>freephone 0808 800 5000</strong>
</p>
