<br/>

<h3 class="section-header">The omitted contact details</h3>

<p>
  This form is to be used by any party in Family Proceedings who does not wish to reveal their contact details - such as
  the contact details of any child, the address of the party, telephone number, email address etc. These details will be
  kept for use by the court and Cafcass or CAFCASS Cymru and will not be revealed to any other person except by Order of
  the Court.
</p>

<p>
  <strong>Please note:</strong> you will need to make sure that any form or document, either completed by you now, or at
  a later date, for use in court
  <strong>does not</strong> contain the information you wish to keep private. This includes documents
  received from other people e.g. medical reports or financial statements etc.
</p>

<p>
  <strong>
    The court staff are not able to check the documents you submit to the court for any unintentional disclosure of your
    contact details.
  </strong>
</p>

<br/>
