<div class="form-header">
  <h1>
    <%=t "check_answers.headers.#{form_header.name}.title" %>
  </h1>

  <span class="details">
    <%=t "check_answers.headers.#{form_header.name}.details" %>
  </span>
</div>
