<p>
  Before making an application for a child arrangements order, prohibited steps order or specific issue order (a section
  8 order) you must first attend a Mediation, Information and Assessment Meeting (MIAM). At the MIAM an authorised
  family mediator will consider with you (and the other party if present) whether family mediation, or another form of
  non-court dispute resolution, would be a more appropriate alternative to court. The mediator will also be able to sign
  post you to other help and support services.
</p>

<p>
  You must have attended a MIAM before making this application unless the requirement to attend a MIAM does not apply
  because the section 8 order you are applying for:
</p>

<ul>
  <li>is for a consent order; or</li>
  <li>concerns a child who is the subject of separate ongoing emergency proceedings, care proceedings or supervision
    proceedings (or is already the subject of an emergency, care or supervision order); or
  </li>
  <li>you are exempt from the requirement to attend a MIAM. (Some exemptions you can claim yourself, others must be
    certified by an authorised family mediator).
  </li>
</ul>

<br/>
