<dl id="<%= multi_answer_row.question %>">
  <dt class="question">
    <%=t "check_answers_html.#{multi_answer_row.question}.question" %>
  </dt>
  <dd class="answer">
    <ul class="list list-bullet">
      <% multi_answer_row.value.each do |value| %>
        <li>
          <%= t("check_answers_html.#{multi_answer_row.question}.answers.#{value}") %>
        </li>
      <% end %>
    </ul>
  </dd>
  <dd class="change">
    <% if multi_answer_row.show_change_link? %>
      <%= link_to t('check_answers_html.change_link'), multi_answer_row.change_path %>
    <% end %>
  </dd>
</dl>
