<dl id="<%= multi_answer_row.question %>">
  <dt class="question">
    <%=t "check_answers_html.#{multi_answer_row.question}.question" %>
  </dt>
  <dd class="answer">
    <ul class="list list-bullet">
      <% multi_answer_row.value.each do |value| %>
        <li>
          <%= t("check_answers_html.#{multi_answer_row.question}.answers.#{value}") %>
        </li>
      <% end %>
    </ul>
  </dd>
  <dd class="change">
    <%= render partial: 'steps/completion/shared/change_link', locals: { question: multi_answer_row } %>
  </dd>
</dl>
