<div>
  <dt class="question">
    <%=t "check_answers.#{row.question}.question" %>
  </dt>
  <dd class="answer">
    <%=t "check_answers.#{row.question}.answers.#{row.value}" %>
  </dd>
  <dd class="change">
    <% if row.show_change_link? %>
      <%= link_to row.change_path do %>
        Change <span class="visuallyhidden"><%=t "check_answers.#{row.question}.accessible_change_text" %></span>
      <% end %>
    <% end %>
  </dd>
</div>
