<div id="<%= row.question %>">
  <dt class="question">
    <%=t "check_answers_html.#{row.question}.question" %>
  </dt>
  <dd class="answer">
    <%=t "check_answers_html.#{row.question}.answers.#{row.value}" %>
  </dd>
  <dd class="change">
    <% if row.show_change_link? %>
      <%= link_to t('check_answers_html.change_link'), row.change_path %>
    <% end %>
  </dd>
</div>
