<span class="display-block-important util_mb-medium"></span>
<h3 class="heading-medium heading-bottom-border subsection-header">
  <%=t "check_answers_html.separators.#{separator.title}", separator.i18n_opts %>
</h3>
