<p>
  <%=t 'shared.statement_of_truth', statement_of_truth.ivar %>
</p>
<p>
  <strong><%=t 'shared.statement_of_truth_hmcts_instructions' %></strong>
</p>
<p>
  <%=t 'shared.statement_of_truth_disclaimer' %>
</p>
