<div class="form-group-error fulfilment-errors-summary util_mt-large">
  <h2 class="heading-small"><%=t '.heading' %></h2>

  <div class="check-your-answers fulfilment-errors">
    <%= render partial: 'fulfilment_error', collection: errors, as: :error %>
  </div>
</div>
