<%# TODO: this partial is pending design. It is just a placeholder %>

<p id="error_steps_application_declaration_form_c100_application_attributes_<%= fulfilment_error.attribute %>">
  <%= fulfilment_error.message %>
</p>
<p><%= link_to 'Fix this error', fulfilment_error.change_path %></p>
