<%# TODO: this partial is pending design. It is just a placeholder %>

<h1 class="app__heading heading-xlarge gv-u-heading-xxlarge util_mt-large">
  <%=t '.errors_heading' %>
</h1>

<%= render errors %>
