<% title t('.page_title') %>

<h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

<p class="lede"><%=t '.lead_text' %></p>

<%= render @presenter.sections %>

<div class="xform-group form-submit util_mt-medium">
  <%= link_to t('.resume'), previous_step_path, class: 'button', role: 'button' %>
</div>
