<h2 class="govuk-heading-l">
  Send certificate of suitability or court order appointing a litigation friend
</h2>

<%= render partial: 'steps/shared/under_age_section' %>

<p class="govuk-body">
  The court will not be able to process your application until these documents have been received.
</p>
