<% title 'MIAM not attended' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <!-- This is a temporary placeholder -->

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">You have not attended a MIAM</h1>
      <p class="lede gv-u-text-lede">If you don't have a valid reason not to attend the
        <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>, you may not be able to complete this application.
      </p>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p>We're going to ask you question that will help determine whether you have a valid reasons.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_applicant_number_of_children_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
