<% title 'Going to court' %>

<div class="grid-row gv-o-grid-row">
  <div class="column-two-thirds gv-o-grid-item gv-u-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Going to court</h1>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p>Before you continue with your application you should consider what the court process might involve and whether you need to go.</p>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
        <p>It is often better to agree arrangements for the children outside of court, unless you have safety concerns.</p>
      </div>
       <h2 class="gv-u-heading-xlarge">What happens at court</h2>
      <p>A judge must, by law, put your children first. The court will decide on what it thinks is best for the children. If you apply to court you must be prepared to follow the court’s decision, even if you don’t agree with it.</p>
      <p>The court’s decision will be set out in a ‘court order’ which you must stick to.</p>
      <p><a href="https://helpwithchildarrangements.service.justice.gov.uk/going-to-court" target="external_link" rel="external">Find
        out more about going to court </a></p>
       <h2 class="gv-u-heading-xlarge">Changing or enforcing an order</h2>
      <p>A court order is not flexible. You’ll need to apply to court again if your situation changes.</p>
      <p>You or the other people involved can apply to court to enforce the order if any of you is not following the terms.</p>
       <h2 class="gv-u-heading-xlarge">Representing yourself in court</h2>
      <p>Most people no longer qualify for free legal help (legal aid). If you don’t qualify, or can’t afford a lawyer, you will need to learn
        <a href="https://www.gov.uk/represent-yourself-in-court" target="external_link" rel="external">how to represent yourself in
          court</a> before you apply.</p>
       <h2 class="gv-u-heading-xlarge">Domestic abuse and child abuse</h2>
      <p>You might be able to get legal aid if you have evidence that you or your children have been victims of abuse.</p>
      <p>GOV.UK has more information on <a href="https://www.gov.uk/legal-aid/domestic-abuse-or-violence">legal aid and domestic abuse</a>.</p>
      <p>Find out more about <a href="http://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/">domestic abuse</a> and <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">child abuse</a>.</p>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <div>
        <div class="ProsCons">
          <div class="Pros">
            <h2 class="ProsCons__heading ProsCons__heading--pros heading-small gv-u-heading-small" aria-label="Pros of ">
              <span data-block-name="ProsCons__heading--pros">Pros</span>
            </h2>
            <ul class="ProsCons__list ProsCons__list--pros">
              <li class="ProsCons__item ProsCons__item--pros">legally binding outcome</li>
              <li class="ProsCons__item ProsCons__item--pros">a decision is made in the best interests of the children</li>
            </ul>
          </div>

          <div class="Cons">
            <h2 class="ProsCons__heading ProsCons__heading--cons heading-small gv-u-heading-small" aria-label="Cons of ">
              <span data-block-name="ProsCons__heading--cons">Cons</span>
            </h2>
            <ul class="ProsCons__list ProsCons__list--cons">
              <li class="ProsCons__item ProsCons__item--cons">can be expensive</li>
              <li class="ProsCons__item ProsCons__item--cons">court process can take a long time</li>
              <li class="ProsCons__item ProsCons__item--cons">you may not feel in a control - a judge makes the
                decision
              </li>
              <li class="ProsCons__item ProsCons__item--cons">can be more stressful for you and your children</li>
              <li class="ProsCons__item ProsCons__item--cons">may increase conflict between you and the other person
              </li>
            </ul>
          </div>
        </div>

        <%= step_form @form_object do |f| %>
          <%= f.single_check_box :court_acknowledgement, class: 'util_mt-large' %>
          <%= f.continue_button %>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" column-one-third gv-o-grid-item gv-u-one-third">
  </div>
</div>
