<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <p class="govuk-body-l">
      <%=t '.lead_text' %>
    </p>

    <p class="govuk-body">
      <%=t '.more_text' %>
    </p>

    <p class="govuk-body govuk-!-margin-top-8">
      <%= link_button t('shared.retry_payment'), edit_steps_application_payment_path, class: 'ga-pageLink',
                      data: { module: 'govuk-button', ga_category: 'online payments', ga_label: 'retry payment' } %>
    </p>
  </div>
</div>
