<% title 'Safety concerns' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Safety concerns</h1>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <p>The court needs to know if you have safety concerns about anyone you or your children are in contact with.</p>
      <p>The following questions will ask whether you or your children have experienced, or are at risk of experiencing,
        any form of harm.</p>
      <p>Find out about the
        <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/" target="external_link">signs of
          child abuse</a> and
        <a href="http://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" target="external_link">domestic
          abuse</a>.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_safety_questions_risk_of_abduction_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
