<% title 'Safety concerns' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Safety concerns</h1>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <p>The court needs to know if anyone who spends time with the children poses a risk to their safety or yours.</p>
      <div role="note" aria-label="Information" class="panel panel-border-wide info-notice"><p>We use ‘children’ as a general term to avoid repetition. In this service it applies to whether it is about a child or children.</p>
      </div>
      <p>The following questions will ask whether you or the children have experienced, or are at risk of experiencing,
        any form of harm. Harm to a child means ill treatment or damage to health and development, including, for
        example, damage suffered from seeing or hearing the ill treatment of another.</p>
      <p>Find out about the
        <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/" rel="external" target="_blank">signs
          of child abuse</a> and
        <a href="https://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" rel="external" target="_blank">domestic
          abuse</a>.</p>
    </div>

    <h2 class="heading-medium gv-u-heading-medium">
      <%=t 'shared.cafcass.safety_title' %>
    </h2>
    <%=t 'shared.cafcass.safety_content_html' %>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_safety_questions_address_confidentiality_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
