<% title 'Safety concerns' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Safety concerns</h1>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <p>The court needs to know if anyone who spends time with the children poses a risk to their safety or yours.</p>
      <div role="note" aria-label="Information" class="panel panel-border-wide info-notice"><p>We use ‘children’ as a general term to avoid repetition. In this service it applies to whether it is about a child or children.</p>
      </div>
      <p>The following questions will ask whether you or the children have experienced, or are at risk of experiencing,
        any form of harm. Harm to a child means ill treatment or damage to health and development, including, for
        example, damage suffered from seeing or hearing the ill treatment of another.</p>
      <p>Find out about the
        <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/" target="external_link" rel="external">signs
          of child abuse</a> and
        <a href="http://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" target="external_link" rel="external">domestic
          abuse</a>.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_safety_questions_address_confidentiality_path, class: 'button', role: 'button' %>
    </div>

    <details data-block-name="safety-concerns-reasons">
      <summary>
        <span class="summary">Why do we need to ask this?</span>
      </summary>
      <div class=" panel panel-border-narrow undefined">
        <p>An advisor from the
          <a href="https://www.cafcass.gov.uk/" target="external_link" rel="external">Children and Family Court Advisory and Support
            Service (<abbr title="Children and Family Court Advisory and Support Service">Cafcass</abbr>)</a> or
          <a href="http://cafcass.gov.wales/" target="external_link" rel="external">Cafcass Cymru</a> protects and promotes the
          interests of children involved in family court cases. They will look at your answers as part of their
          safeguarding checks.</p>
        <p>As part of their enquiries, they will contact organisations such as the police and local authorities for any relevant information about you, any other person or the children.</p>
        <p>They will submit information to the court before your first hearing. Their assessment helps the judge make a decision that is in the best interests of your children.</p>
      </div>
    </details>
  </div>
</div>
