<% title 'Important information about your case' %>

<div class=" grid-row gv-o-grid-row">
  <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">

    <div class="grid_content_header">
      <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">Important information about your case</h1>
      <p class="app__lede  lede gv-u-text-lede">Please read before completing your application</p>
    </div>

    <div class=" govuk-govspeak gv-s-prose">
      <h3>Attend a Mediation Information and Assessment Meeting (MIAM)</h3>
      <p>Before applying to court you must attend a
        <a href="https://helpwithchildarrangements.service.justice.gov.uk/professional-mediation">MIAM</a>, unless
        <a href="https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam/miams-exemptions/">you're
          exempt</a>.</p>
      <p>The MIAM will assess if mediation is right for you and whether you can agree arrangements out of court.</p>
      <hr>
      <p><strong>The law has changed, and you are now legally required to consider mediation before applying to the
        family court</strong> to resolve a dispute about your children or finances. This means that before submitting
        your application, you must attend a Mediation Information and Assessment Meeting (MIAM) to find out about
        mediation and see if mediators can help you sort out arrangements for the future.
        In special circumstances – such as where domestic violence is involved – you may not need to attend a MIAM.
        However, you will be asked to provide the judge with evidence (such as a police report to prove domestic
        violence has taken place) and should bring it to the first hearing.</p>
      <dl>
        <dt>Who are mediators and what do they do?</dt>
        <dd>Mediators are trained professionals who can help you and the other person involved work out an agreement
          without having to go to court about issues such as arrangements for children, financial arrangements and
          dividing up property.
        </dd>
        <dt>How can mediation help?</dt>
        <dd>Mediation gives you more control over what happens, and is usually less stressful and cheaper than going to
          court. It can also be quicker and less upsetting for you and your children. In the MIAM, you will be told
          about other options to resolve your dispute and about services that can provide you with help and support.
        </dd>
        <dt>Where can I find a mediator or more information?</dt>
        <dd>You can can search for a mediator and find more information about mediation (and other sources of help)
          using the <a href="https://www.familymediationcouncil.org.uk/">Family Mediation Council website</a>.
        </dd>
        <dt>Do I have to pay for the MIAM?</dt>
        <dd>The MIAM is free of charge if you or the other person involved (the other party) qualifies for legal aid. To
          find out if you qualify visit GOV.UK’s
          <a href="https://www.gov.uk/check-legal-aid">“Check if you can get legal aid”</a> service.
        </dd>
      </dl>
    </div>

    <div class="xform-group form-submit">
      <%= link_to t('.continue'), edit_steps_applicant_user_type_path, class: 'button button-start', role: 'button' %>
    </div>
  </div>
</div>
