<% title 'MIAM Requirement' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">Attending a Mediation Information and Assessment Meeting (MIAM)</h1>
      <p class="lede gv-u-text-lede">Before completing this application you’re legally required to attend a Mediation Information and Assessment Meeting
        <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>.
      </p>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p>A <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>  is an introductory meeting that explains how <a href="https://helpwithchildarrangements.service.justice.gov.uk/professional-mediation">mediation</a> can help resolve your dispute. A mediator will assess your situation and tell you whether it’s right for you.</p>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO"><p>A <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> is a one-off meeting and not the same as mediation.</p>
      </div>
       <h2 class="gv-u-heading-xlarge">What happens at a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></h2>
      <p>At the <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> a mediator will explain:</p>
      <ul class="list list-bullet">
        <li>how mediation works</li>
        <li>the benefits</li>
        <li>whether it’s right for you</li>
        <li>the likely costs</li>
        <li><a href="https://www.gov.uk/check-legal-aid">if you’re eligible for mediation through legal aid</a></li>
        <li>other options available to you</li>
      </ul>
      <p><a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">Find a mediator to book a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></a></p>
       <h2 class="gv-u-heading-xlarge">If you’ve already attended a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></h2>
      <p>If you’ve been to a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> it must have taken place within the past 4 months. It must also have been about the same child arrangements issue.</p>
       <h2 class="gv-u-heading-xlarge">When you don’t have to attend a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></h2>
      <p>You don’t have to attend a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> if you have a valid reason. For example you or your children are at risk of harm.</p>
      <p><a href="/miam_exemptions">List of valid reasons for not attending a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr></a></p>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.check_box_fieldset :miam_acknowledgement, [:miam_acknowledgement] %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
