<% title 'Children instructions' %>

<div class="grid-row">
  <div class=" column-two-thirds gv-o-grid-item gv-u-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">The child(ren)</h1>
      <p class="lede gv-u-text-lede">Please provide the full names of the child(ren)</p>
    </div>

    <div class="govuk-govspeak gv-s-prose">
      <p><strong>Please also read the information notes and complete the checklist at the end of the form.</strong>
      </p>
      <ul>
        <li>Failure to complete every question or state if it does not apply, could delay the case, as the court will
          have to ask you to provide the additional information required.
        </li>
        <li>If there is not enough space please attach separate sheets clearly showing the details of the children,
          parties, question and page number they refer to.
        </li>
        <li>Cafcass/CAFCASS CYMRU will carry out checks as it considers necessary. See Section J of
          <a href="http://formfinder.hmctsformfinder.justice.gov.uk/cb1-eng.pdf">leaflet CB1</a> for more information
          about Cafcass and CAFCASS CYMRU.
        </li>
      </ul>
      <p>Please list the name(s) of the child(ren) and the type(s) of order you are applying for, starting with the
        oldest. To understand which order to apply for read the
        <a href="http://formfinder.hmctsformfinder.justice.gov.uk/cb1-eng.pdf">booklet CB1</a> Section D.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_children_personal_details_path(id: ''), class: 'button', role: 'button' %>
    </div>
  </div>
</div>
