<p class="heading-medium">
  Lookup an application by reference code
</p>

<div class="govuk-govspeak gv-s-prose">
  <p>
    This will search the given reference in the historical audit table, no matter how old the application is.
  </p>
</div>

<%= form_with(url: lookup_backoffice_dashboard_index_path, local: true) do |f| %>
  <%= f.text_field :reference_code, class: 'narrow', value: @reference_code %>
  <%= f.submit 'Lookup application', class: 'button' %>
<% end %>
