<h3 class="govuk-heading-m">
  Lookup an application by reference code
</h3>

<p class="govuk-body">
  This will search the given reference in the historical audit table, no matter how old the application is.
</p>

<%= form_with(url: lookup_backoffice_dashboard_index_path, local: true, class: 'govuk-!-margin-bottom-3', builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
  <%= f.govuk_text_field :reference_code, width: 'one-half', value: @reference_code, label: { text: 'Reference code'} %>
  <%= f.govuk_submit 'Lookup application' %>
<% end %>
