<table class="backoffice-table govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Created at</th>
      <th class="govuk-table__header">Updated at</th>
      <th class="govuk-table__header">Status</th>
      <th class="govuk-table__header">Error details</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% if report.any? %>
      <%= render partial: 'payment', collection: report, as: :payment %>
    <% else %>
      <tr class="govuk-table__row">
        <td colspan="4" class="govuk-table__cell">No payments were found</td>
      </tr>
    <% end %>
  </tbody>
</table>
