<table class="backoffice-table">
  <thead>
    <tr>
      <th>Completed at</th>
      <th>Reference</th>
      <th>Type</th>
      <th>Payment</th>
      <th>Postcode</th>
      <th>Saved</th>
    </tr>
  </thead>

  <tbody>
    <% if report.any? %>
      <%= render partial: 'completion', collection: report, as: :completion %>
    <% else %>
      <tr>
        <td colspan="6">No applications were found</td>
      </tr>
    <% end %>
  </tbody>
</table>
