<% title 'Back office: dashboard' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Back office: dashboard</h1>

    <div class="govuk-govspeak gv-s-prose">
      <p>
        Last 50 completed applications.
      </p>
    </div>

    <table class="backoffice-table">
      <thead>
        <tr>
          <th>Completed at</th>
          <th>Reference</th>
          <th>Type</th>
          <th>Payment</th>
          <th>Postcode</th>
          <th>Saved</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'completion', collection: @report, as: :completion %>
      </tbody>
    </table>
  </div>
</div>
