<% title 'Back office: dashboard' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Back office: applications</h1>

    <%= render partial: 'lookup_form', locals: { reference_code: @reference_code } %>

    <h3 class="govuk-heading-m">
      Results
    </h3>

    <%= render partial: 'results_table', locals: { report: @report } %>
  </div>
</div>
