<% title 'Back office: dashboard' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Back office: applications</h1>

    <%= render partial: 'lookup_form', locals: { reference_code: @reference_code } %>

    <p class="heading-medium">
      Results
    </p>

    <%= render partial: 'results_table', locals: { report: @report } %>
  </div>
</div>
