<% title 'Accessibility' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">Accessibility</h1>

    <h2 class="heading-large gv-u-heading-large">Using this online service</h2>

    <p>This online service is run by the Ministry of Justice. We want as many people as possible to be able to use it.</p>

    <p>For example, that means you should be able to:</p>

    <ul class="list list-bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the online service using just a keyboard</li>
      <li>navigate most of the online service using speech recognition software</li>
    </ul>

    <p>We’ve also made the text as simple as possible to understand.</p>

    <p><a href="https://mcmw.abilitynet.org.uk/" rel="external" target="_blank">AbilityNet</a> has advice on making your
      device easier to use if you have a disability.</p>

    <h2 class="heading-large gv-u-heading-large">About the accessibility of this online service</h2>

    <p>We’ve used components in the GOV.UK Design System to build this service. The
      <a href="https://design-system.service.gov.uk/accessibility/" rel="external" target="_blank">Design System</a>
      accessibility guide explains the current state of accessibility for these components.</p>

    <p>Basic tests were performed on this online service on 9 October 2019. These tests were carried out by the Ministry
      of Justice.</p>

    <p>We tested the start page, the login page and the contact page, as well as the privacy policy and the terms and
      conditions.</p>

    <p>We also tested the stages of the service that require different types of user interaction:</p>

    <ul class="list list-bullet">
      <li>inputting text</li>
      <li>inputting numbers</li>
      <li>using radio buttons</li>
      <li>using check boxes</li>
      <li>following links for support</li>
      <li>finding an address by searching for a postcode</li>
      <li>reviewing answers</li>
    </ul>

    <p>Finally, we tested cookies and the third-party supplier feedback survey page.</p>

    <h2 class="heading-large gv-u-heading-large">What to do if you cannot access parts of this online service</h2>

    <p>If you need information on this online service in a different format like an accessible PDF, large print, easy
      read, audio recording or braille, email
      <a href="mailto:c100helpdesk@digital.justice.gov.uk?subject=Accessibility">c100helpdesk@digital.justice.gov.uk</a>.
    </p>

    <h2 class="heading-large gv-u-heading-large">Technical information about accessibility for this online service</h2>

    <p>
      The Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <p>This online service is partially compliant with the
      <a href="https://www.w3.org/TR/WCAG21/" rel="external" target="_blank">Web Content Accessibility Guidelines
        version 2.1</a> AA standard, due to the non-compliances listed below.</p>

    <h2 class="heading-large gv-u-heading-large">Non compliance with the accessibility regulations</h2>

    <p>The content listed below is non-accessible for the following reasons.</p>

    <ul class="list list-bullet">
      <li>For some browsers, the font size does not increase when changes are made in browser settings. However, zooming
        works correctly.
      </li>
      <li>The focus colour shows low contrast against a grey background in some cases.</li>
      <li>We’re working to understand whether nested checkboxes are fully accessible to screen readers.</li>
    </ul>

    <p>We plan to resolve the issues above by September 2020. </p>

    <h2 class="heading-large gv-u-heading-large">PDF content</h2>

    <p>Some PDF content is essential to providing our services, but may not yet meet accessibility standards for screen
      readers.The PDF content is designed to be used by the courts and is built to their specification, so any changes
      will require their input. We plan to review this content by September 2020.</p>

    <h2 class="heading-large gv-u-heading-large">Third-party supplied service</h2>

    <p>This online service uses a third-party supplied service to collect feedback.</p>

    <p>This third-party supplied service is ‘skinned' to look like our website, but some parts of it do not meet
      <a href="https://www.w3.org/TR/WCAG21/" rel="external" target="_blank">Web Content Accessibility Guidelines
        version 2.1</a> standards because:</p>

    <ul class="list list-bullet">
      <li>incorrect heading tags are used</li>
      <li>clicking the labels does not move the cursor into the corresponding text area</li>
      <li>when using the keyboard, the radio button becomes invisible</li>
    </ul>

    <p>
      The third-party supplied feedback form is one part of our overall approach to collecting feedback. We'll continue
      to carry out further testing as we develop the service and we plan to reassess the feedback form by September 2020.
    </p>

    <h2 class="heading-large gv-u-heading-large">Reporting accessibility problems</h2>

    <p>We’re always looking to improve the accessibility of this online service. If you find any problems not listed on
      this page or you think we’re not meeting accessibility requirements, contact
      <a href="mailto:c100helpdesk@digital.justice.gov.uk?subject=Accessibility">c100helpdesk@digital.justice.gov.uk</a>.
    </p>

    <h2 class="heading-large gv-u-heading-large">Enforcement procedure</h2>

    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
      happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/" rel="external" target="_blank">contact the Equality Advisory
        and Support Service (EASS)</a>.
    </p>

    <p>This statement was prepared on 19 November 2019.<br/>It was last updated on 19 November 2019.</p>
  </div>
</div>
