<% title 'Contact us' %>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge gv-u-heading-xxlarge">Contact us</h1>

    <p class="lede">This is a placeholder.</p>

  </div>
</div>
