<% title 'Privacy notice' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Privacy notice</h1>

    <p class="govuk-body">
      This privacy notice explains what the Ministry of Justice (MOJ) means when we talk about personal data, why we ask
      for this information about you and what we do with it when you use the ‘<%= service_name -%>’ online service.
    </p>

    <p class="govuk-body">
      It also explains how we store your data, how you can get a copy of the information we’ve collected about you and
      how you can complain if you think we’ve done something wrong.
    </p>

    <p class="govuk-body">
      You should read this privacy notice alongside the
      <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter" class="govuk-link" rel="external" target="_blank">MOJ
        personal information charter</a>, which sets out how you can request a copy of your personal data, and the
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#privacy-policy-for-family-proceedings" class="govuk-link" rel="external" target="_blank">HM
        Courts and Tribunals Service (HMCTS) privacy policy for family forms</a>, which provides more information about
      the use of your personal data in family court cases.
    </p>

    <p class="govuk-body">
      MOJ is the data controller for the personal data collected by HMCTS.
    </p>

    <h2 class="govuk-heading-l">When we ask for personal data</h2>

    <p class="govuk-body">Whenever we ask for information about you, we promise to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>always let you know why we need it</li>
      <li>ask for relevant personal information only</li>
      <li>make sure we don’t keep it longer than needed</li>
      <li>keep your information safe and make sure nobody can access it unless authorised to do so</li>
      <li>only share your data with other organisations for legitimate purposes</li>
      <li>consider any request you make to correct or delete your personal data</li>
    </ul>

    <p class="govuk-body">We also promise to make it easy for you to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>tell us at any time if you want us to stop storing your personal data</li>
      <li>make a complaint to the supervisory authority</li>
    </ul>

    <h2 class="govuk-heading-l">The personal data we collect</h2>

    <p class="govuk-body">We only collect personal data that you directly enter into this online service, although additional personal
      data may be gathered from other sources throughout the case (see the
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#privacy-policy-for-family-proceedings" class="govuk-link" rel="external" target="_blank">HMCTS
        privacy policy for family forms</a>).</p>

    <p class="govuk-body">We only collect the information we need to deliver this service to you. The personal data collected
      includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>personal information about you, your children, and other people involved in the case - this includes
        names, dates of birth or ages, addresses and contact details, and any conditions they may have which could
        affect their understanding of or participation in court proceedings
      </li>
      <li>details of any Mediation Information and Assessment Meetings you may have attended or reasons why you were
        exempt from attending
      </li>
      <li>any concerns you may have about child protection or other safety issues, substance abuse, physical,
        sexual, financial, emotional or psychological abuse of you or the children
      </li>
      <li>previous relevant court proceedings and relevant criminal convictions or offences you think the court
        should know about when deciding your case
      </li>
    </ul>

    <p class="govuk-body">We also collect <a href="/about/cookies" class="govuk-link">information about how you browse the online service</a>, but this is
      not used to identify you personally.</p>

    <h2 class="govuk-heading-l">Why we collect your personal data</h2>

    <p class="govuk-body">We collect data in this online service to allow you to make an application about child arrangements online
      rather than complete a
      <a href="https://www.gov.uk/government/publications/form-c100-application-under-the-children-act-1989-for-a-child-arrangements-prohibited-steps-specific-issue-section-8-order-or-to-vary-or-discharge" class="govuk-link" rel="external" target="_blank">paper
        application form</a>. Both this online service and the paper application form collect
      the same types of personal data. The processing of your personal data is necessary for the administration of
      justice and legal claims. This is part of the work we do.</p>

    <p class="govuk-body">Use of this online service is voluntary. If you do not provide all the information we ask for, we may not be
      able to process your application.</p>

    <h2 class="govuk-heading-l">Sharing your personal data</h2>

    <p class="govuk-body">The information you provide us in this online service will be shared with the other parties involved in the
      case, including their legal representatives (if they have one). You can however choose to keep your contact
      details private from the other people named in your application if you need to.</p>

    <p class="govuk-body">The main organisations we share the personal data collected in this service with are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#hmcts-privacy-policy" class="govuk-link" rel="external" target="_blank">Her
          Majesty’s Courts and Tribunals Service (HMCTS)</a>, who will process your application and send it to a
        judge
      </li>
      <li>
        <a href="https://www.cafcass.gov.uk/about-cafcass/policies/privacy-data-protection/privacy-notice-service-users/" class="govuk-link" rel="external" target="_blank">Cafcass</a>,
        the Children and Family Court Advisory and Support Service, who will carry out safeguarding checks and
        submit information to the court to help the judge make a decision that is in the best interests of the
        children. They’re required to do so by law.
        <a href="https://www.cafcass.gov.uk/about-cafcass/policies/privacy-data-protection/privacy-notice-service-users/" class="govuk-link" rel="external" target="_blank">Read
          more about who Cafcass may share your personal data with</a></li>
    </ul>

    <p class="govuk-body">Your personal data will not usually be shared with anyone who is not a party to the case unless this is
      specifically ordered by the court or permitted by the
      <a href="https://www.justice.gov.uk/courts/procedure-rules/family/rules_pd_menu" class="govuk-link" rel="external" target="_blank">Family
        Procedure Rules 2010</a>. There are strict rules about when information in family cases may be disclosed
      outside the court proceedings. The
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#privacy-policy-for-family-proceedings" class="govuk-link" rel="external" target="_blank">HMCTS
        privacy policy for family court forms</a> provides general information about the use of your personal data
      in family court cases.</p>

    <p class="govuk-body">We may also use your contact information to ask for feedback on using the service, but only when you have
      given your consent for us to do so.</p>

    <p class="govuk-body">We’ll never share your information with other organisations for marketing, market research or commercial purposes.</p>

    <h2 class="govuk-heading-l">Keeping your personal data</h2>

    <p class="govuk-body">We delete all the information you enter into the online
      service <%= Rails.configuration.x.drafts.expire_in_days -%> days after the first date you started your
      application.</p>

    <p class="govuk-body">If you create a user account to allow you to save and return to partially completed applications, we delete
      your user account <%= Rails.configuration.x.users.expire_in_days -%> days after your last login. You can
      delete your partially completed applications at any time.</p>

    <p class="govuk-body">For information about what happens once your application has been completed online and your information is
      submitted to the court, you should read the
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#privacy-policy-for-family-proceedings" class="govuk-link" rel="external" target="_blank">HMCTS
        privacy policy for family court forms</a>.</p>

    <h2 class="govuk-heading-l">Your rights</h2>

    <p class="govuk-body">You can ask:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to see the personal data that we hold on you</li>
      <li>to have the personal data corrected</li>
      <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your application)</li>
    </ul>

    <p class="govuk-body">
      If you want to see the personal data that we hold on you, you can make a <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter" class="govuk-link" rel="external" target="_blank">subject access request</a>. Write to us at: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ or email: <a href="mailto:data.access@justice.gov.uk" class="govuk-link ga-clickAction" data-ga-category="privacy" data-ga-action="click" data-ga-label="mailto data access">data.access@justice.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-l">Getting more information</h2>

    <p class="govuk-body">You can get more details on:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>agreements we have with other organisations for sharing information</li>
      <li>when we can pass on personal information without telling you, for example, to help with the prevention or
        detection of crime or to produce anonymised statistics
      </li>
      <li>instructions we give to staff on how to collect, use or delete your personal information</li>
      <li>how we check that the information we have is accurate and up-to-date</li>
      <li>how to make a complaint</li>
    </ul>

    <p class="govuk-body">For more information, please contact the MoJ data protection officer at
      <a href="mailto:data.compliance@justice.gov.uk" class="ga-clickAction govuk-link" data-ga-category="privacy"
         data-ga-action="click" data-ga-label="mailto data compliance">data.compliance@justice.gov.uk</a></p>

    <h2 class="govuk-heading-l">Telling us about your experience of
      using this service</h2>

    <p class="govuk-body">We handle your personal data differently if you choose to be contacted about your experience of using the
      service.</p>

    <p class="govuk-body">If you have chosen to be contacted
      <a href="/about/privacy_consent" class="govuk-link">find out how long we keep your data, your rights and how to contact us.</a>
    </p>

    <h2 class="govuk-heading-l">Making a complaint</h2>

    <p class="govuk-body">When we ask you for information, we will keep to the law. If you think that your information has not
      been handled correctly, you can contact the Information Commissioner for independent advice about data
      protection on the address below:</p>

    <div class="govuk-inset-text">
      <address class="adr">
        <div class="extended-address">Information Commissioner's Office</div>
        <span class="extended-address">Wycliffe House</span>
        <span class="street-address">Water Lane</span>
        <div class="locality">Wilmslow</div>
        <span class="region">Cheshire,</span>
        <span class="postal-code">SK9 5AF</span>
      </address>

      <div class="govuk-!-margin-top-5">
        <div class="tel">Tel: 0303 123 1113</div>
        <div>
          <a href="https://www.ico.org.uk" class="govuk-link" rel="external" target="_blank">www.ico.org.uk</a>
        </div>
      </div>
    </div>
  </div>
</div>
