<% title 'Privacy consent notice' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="grid_content_header">
      <h1 class="app__heading  heading-xlarge gv-u-heading-xxlarge">Privacy consent notice</h1>
    </div>
      <section class="moj-Section about-section">
        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">Being contacted about your experience of using this service</h2>
        <div class="Section__content govuk-govspeak gv-s-prose">

          <p>By choosing to be contacted by Ministry of Justice (MoJ) you agree that your personal details and any information you give can be used by MoJ for research purposes.</p>
        </div>
      </section>
      <section class="moj-Section about-section">
        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">The information we use</h2>
        <div class="Section__content govuk-govspeak gv-s-prose">

          <p>MOJ can use any information you provide, including your name and contact information (such as your email address).</p>
        </div>
      </section>

      <section class="moj-Section about-section">
        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">Why we use this information</h2>
        <div class="Section__content govuk-govspeak gv-s-prose">

          <p>To get your thoughts on MoJ services - for example, we might send you satisfaction surveys.</p>
        </div>
      </section>

       <section class="moj-Section about-section">
          <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">How long we will keep your data</h2>
          <div class="Section__content govuk-govspeak gv-s-prose">
            <p>If you choose to be contacted by MOJ about your experience of using this service, your personal information will be kept for 2 years.</p>

            <p>You can choose to be contacted for research. If you opt in, only your name and contact details will be shared with the MoJ research team.</p>
        </div>
      </section>

      <section class="moj-Section about-section">
        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">Your rights</h2>
        <div class="Section__content govuk-govspeak gv-s-prose">
          <p>You have the right to:</p>

          <ul class="list list-bullet">
             <li>access the personal information MoJ holds about you</li>
             <li>change any incorrect information MoJ holds about you</li>
             <li>stop MoJ using your personal information</li>
          </ul>

          <p>If you have chosen to be contacted about your experience of using this service, you have the right to request that your personal information is:</p>
          <ul class="list list-bullet">
            <li>deleted (the ‘right to be forgotten’)</li>
            <li>subject to restricted processing (MoJ can store your personal data, but not use it)</li>
            <li>transferred to you or another organisation in a commonly structured format (the ‘right to portability’)</li>
          </ul>

          <p>Some of these rights only apply in certain circumstances. Even if you want to exercise them, MoJ may not be required to comply.</p>

          <p>You can contact MoJ if you:</p>
          <ul class="list list-bullet">
            <li>would like to update information MoJ holds about you</li>
            <li>want to exercise any of your rights</li>
            <li>have any questions about how MoJ handles your personal information</li>
          </ul>

          <p>Some of these rights only apply in certain circumstances. Even if you want to exercise them, MOJ may not be required to comply.</p>
        </div>
      </section>

      <section class="moj-Section about-section">
        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">Withdrawing your consent to be contacted</h2>
        <div class="Section__content govuk-govspeak gv-s-prose">

          <p>You have the right to withdraw your consent at any time by emailing your request to <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a>.</p>

          <p>The withdrawal of consent will not affect the lawfulness of processing based on consent before its withdrawal.</p>
        </div>
      </section>

      <section class="moj-Section about-section">

        <h2 class="moj-Section__heading moj-Section__heading--2 gv-u-heading-xlarge">Contacting MOJ</h2>

        <div class="Section__content govuk-govspeak gv-s-prose">
          <p>You can contact MOJ if you:</p>

          <ul class="list list-bullet">
            <li>would like to update information MOJ holds about you</li>
            <li>want to exercise any of your rights </li>
            <li>have any questions about how MOJ handles your personal information</li>
          </ul>

          <p>Send your request to MOJ by:</p>
          <ul class="list list-bullet">
            <li>email at <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a> </li>
            <li>post to Data Protection Officer, Ministry of Justice, 102 Petty France, London SW1H 9AJ</li>
          </ul>
        </div>
      </section>
  </div>
</div>
