// From GDS's alphagov/govuk_frontend_toolkit
@import 'colours';
@import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';

// From GDS's alphagov/govuk_elements
@import 'elements/helpers';
@import 'elements/reset';
@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/buttons';
@import 'elements/icons';
@import 'elements/lists';
@import 'elements/tables';
@import 'elements/details';
@import 'elements/panels';
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-date';
@import 'elements/forms/form-validation';
@import 'elements/breadcrumbs';
@import 'elements/phase-banner';
@import 'elements/components';
@import 'elements/shame';

// From MOJ gov_uk_date_fields
@import 'govuk_date_fields';

@import 'local/tables';
@import 'local/lists';
@import 'local/inputs';
@import 'local/buttons';
@import 'local/forms';
@import 'local/typography';
@import 'local/header';
@import 'local/panels';
@import 'local/banners';
@import 'local/utilities';
@import 'local/timeout_modal';
@import 'local/spinner';

@import 'local/check_answers';
@import 'local/pdf_summary';

// From prototype
@import 'local/app';

.js-enabled {
  .js-hidden {
    display: none !important;
  }
}

.no-js-only {
  display: block;

  .js-enabled & {
    display: none !important;
  }
}

li.no-js-only {
  display: list-item;
}

.js-only {
  display: none !important;

  .js-enabled & {
    display: block !important;
  }
}

.js-enabled li.js-only {
  display: list-item !important;
}


// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter * 2;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }

  .related-link-hint {
    color: $grey-1;
  }
}
/* added 20-11-2017 */
.gv-u-heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04167;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em;
}
/* added 27-11-2017 */
#before-applying ol{
  padding-left:0;
}
#before-applying ol > li{
  background-position:0 0.87em;
  background-repeat:no-repeat;
  list-style-type:none;
  margin-left:0;
  padding:0.75em 0 0.75em 2.2em;
}
#before-applying ol > li:nth-child(1){
background-image:url(https://assets.publishing.service.gov.uk/static/icon-steps/icon-step-1-4d6351dedaee517e9fc84bc030fe7a9f04f876a30dc95ec28bbd0cabd1d94210.png);
}
#before-applying ol > li:nth-child(2){
background-image:url(https://assets.publishing.service.gov.uk/static/icon-steps/icon-step-2-fe28a816d0187a23b9c4164f92ef7f7d494ea9d5d92fbcdb43b441981083c342.png);
}
#before-applying ol > li:nth-child(3){
background-image:url(https://assets.publishing.service.gov.uk/static/icon-steps/icon-step-3-b67cbca60331ec32261cb20b126924eb983e7f92e5f673162beeb2b77a18a03c.png);
}
#miam-requirement_acknowledgement{
  padding-top:96px;
  padding-top:6rem;
}
#content [data-block-name="route:application-requirements"] {
    background-color: #0053a5;
    color: #fff;
    padding: 3rem;
    margin-top: 1rem;
}          
#content [data-block-name="route:application-requirements"] {
  & .button {
    background-color: #fff;
    color: #0053a5;
  }
  & .panel-border-wide {
    border-color: #fff;
  }
  & .panel-border-wide p {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
/* */