<tr>
  <td valign="middle" width="200"><%= record.created_at %></td>
  <td valign="middle" width="350"><%= record.author %></td>
  <td valign="middle" width="150"><%= record.action.upcase %></td>
  <td valign="middle"><%= record.details %></td>
</tr>
