<% title 'Screener' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">
      Apply to court about child arrangements
    </h1>

    <p class="lede">Use this service to make an application for child arrangements in England or Wales.</p>

    <p>Your application will be sent to a court in the area where your child or children live.</p>

    <p>To use this service you must:</p>

    <div class="govuk-govspeak gv-s-prose">
      <ul class="list list-bullet">
        <li>be a parent of the child or children, or a solicitor representing a parent</li>
        <li>be over 18, and so must the other person (the respondent)</li>
        <li>not have a signed draft court order that you want the court to make legally binding</li>
      </ul>
    </div>

    <div class="form-submit">
      <%= link_to 'Check eligibility', edit_steps_screener_postcode_path, class: 'button button-start', role: 'button' %>
      <a href="/users/login" class="button button-secondary return-application">Or return to a saved application</a>
    </div>
  </div>
</div>
