<% title 'Screener' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">
      We’re trialling a new online service to apply to court about child arrangements
    </h1>

    <p>The court areas currently taking part are: Blackburn, Blackpool, Bristol, Cambridgeshire, Exeter, Gateshead,
      Grimsby, Guildford, Hull, Kent, Lancaster, Leicester, Liverpool, London, Mansfield, Milton Keynes, Newcastle,
      Nottingham, Oxford, Plymouth, Preston, Reading, Slough, Southampton, Sunderland, Watford and West Yorkshire.</p>

    <p>This trial is also taking place in Cardiff, Newport and Swansea. A Welsh language version will be available after
      the trial is completed.</p>

    <p>To be able to try this service, the child or children must live within one of these court areas (you’ll be able
      to check this on the next page).</p>

    <p>You’ll also need to meet the following criteria:</p>

    <div class="govuk-govspeak gv-s-prose">
      <ul class="list list-bullet">
        <li>you are a parent of the child or children</li>
        <li>you and the other person (the respondent) are both over 18</li>
        <li>you do not have a solicitor representing you</li>
        <li>you do not have a signed draft court order you want the court to consider making legally binding</li>
      </ul>
    </div>

    <div class="form-submit">
      <%= link_to 'Check now', edit_steps_screener_postcode_path, class: 'button button-start', role: 'button' %>
      <a href="/users/login" class="button button-secondary return-application">Or return to a saved application</a>
    </div>
  </div>
</div>
