<% title 'Screener' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">
      We’re trialling a new online service to apply to court about child arrangements
    </h1>

    <p>To be able to try it, you’ll need to meet the following criteria:</p>

    <div class=" govuk-govspeak gv-s-prose">
      <ul class="list list-bullet">
        <li>the child or children must live within a specified jurisdictional court area (you’ll be able to check this on the next page)</li>
        <li>it is not an urgent application</li>
        <li>you are a parent of the child or children</li>
        <li>you and the other person (the respondent) are both over 18</li>
        <li>you do not have a written agreement you want the court to consider making legally binding</li>
        <li>you do not have a solicitor representing you</li>
      </ul>
    </div>

    <p class="actions">
      <%= link_to 'Check now', edit_steps_screener_postcode_path, class: 'button button-start', role: 'button' %>
      <a href="/users/login" class="return-application">Or return to a saved application</a>
    </p>
  </div>
</div>
