<% title 'Concerns further questions' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading">Safety concerns</p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge">You and your children</h1>

    <div class="govuk-govspeak gv-s-prose">
      <p>Based on your previous answer, we'll need to ask you some questions about your concerns.</p>
      <p>Your answers will help an advisor from the <a href="https://www.cafcass.gov.uk/">Children and Family Court Advisory and Support Service (Cafcass)</a> collect background information.</p>
      <p>You may find some of the following questions difficult to answer. Please complete them as best you can.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', steps_abuse_concerns_children_info_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
