<% title 'Concerns further questions' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">Safety concerns - we need to ask more questions</h1>

    <!-- This is a placeholder until we have final copy -->

    <p class="lede">Because you answered x - blah blah blah</p>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_abuse_concerns_question_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
