<% title 'Your safety' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading">Safety concerns</p>
    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge">Your safety</h1>

    <div class=" govuk-govspeak gv-s-prose">
      <p>The court needs to know if you have suffered, or are at risk of suffering, any form of domestic violence or abuse.</p>
      <p>The following questions will ask whether you have suffered, or are at risk of suffering, any form of harm.</p>
      <p>
        <a href="https://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" rel="external">Find
          out about the signs of domestic violence or abuse</a>
      </p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', edit_steps_abuse_concerns_question_path(subject: AbuseSubject::APPLICANT), class: 'button', role: 'button' %>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-medium">
      <details data-block-name="safety-concerns-reasons">
        <summary>
        <span class="summary" data-ga-category="explanations" data-ga-label="applicant abuse info">
          <%=t 'shared.cafcass.safety_title' %>
        </span>
        </summary>
        <div class="panel panel-border-narrow">
          <%=t 'shared.cafcass.safety_content_html' %>
        </div>
      </details>
    </div>
  </div>
</div>
