<% title 'You must attend a MIAM' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">You must attend a MIAM</h1>

    <p class="lede">
      You have not provided a valid reason for not attending a MIAM. You’re legally required to attend one if you want to
      go to court to resolve a dispute involving the children.
    </p>

    <div class="govuk-govspeak gv-s-prose">
      <p>You need to follow these steps before continuing with your application:</p>
      <section class="numbered-list">
        <ol class="list list-number">
          <li><a href="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="external_link" rel="external">Find a mediator</a> and book a MIAM</li>
          <li>Attend the MIAM</li>
          <li>Ask the mediator for a certificate confirming your attendance</li>
        </ol>
      </section>
    </div>

    <%= render partial: 'steps/shared/kickout_survey' %>
  </div>
</div>
