<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t '.heading' %></h1>

    <p class="govuk-body-l"><%=t '.lead_text' %></p>

    <p class="govuk-body"><%= t('.more_text_html', expire_in_days: Rails.configuration.x.drafts.expire_in_days) %></p>

    <%= link_button t('.continue'), root_path %>
  </div>
</div>
