<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <!-- TODO: this is just a placeholder page -->

    <div class="xform-group form-submit">
      <%= link_to t('.confirm'), steps_completion_download_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
