<tr class="govuk-table__row">
  <td class="govuk-table__cell"><%= admin.email %></td>
  <td class="govuk-table__cell"><%= admin.last_login_at || 'never' %></td>
  <td class="govuk-table__cell"><%= admin.current_login_at || 'never' %></td>
</tr>
