<% title 'Child protection info' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">You do not have to attend a MIAM</h1>

    <div class="govuk-govspeak gv-s-prose">
      <p>As there are or have been child protection issues, you do not have to attend a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>.</p>
      <p>We will ask you about these cases later in the application.</p>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Continue', steps_safety_questions_start_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
