<% title 'Child protection info' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have to attend a MIAM</h1>

    <p class="govuk-body-l">
      As there are or have been safety concerns about the children, you do not have to attend a
      <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>.
    </p>

    <p class="govuk-body">We will ask you about these concerns later in the application.</p>

    <%= link_button 'Continue', steps_safety_questions_start_path %>
  </div>
</div>
