<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      h2 {
        margin-top: 40px;
      }
      .wide-margin {
        width: 60%;
        margin: 0 auto;
      }
      .govuk-box-highlight {
        padding: 1em 1em;
        color: #fff;
        background: #28a197;
        text-align: center;
        margin-bottom: 30px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
