<div class="app-util--border-box">
  <div class="govuk-warning-text govuk-!-margin-bottom-0">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= flash[:alert] %>
    </strong>
  </div>
</div>
