<a role="button" href="#proposition-links" class="js-header-toggle menu"
   aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</a>

<nav id="proposition-menu">
  <ul id="proposition-links" aria-label="Top Level Navigation">
    <li>
      <%= link_to_unless_current 'Dashboard', backoffice_dashboard_index_path %>
    </li>
    <li>
      <%= link_to_unless_current 'Emails', backoffice_emails_path %>
    </li>
  </ul>
</nav>
