<% title 'You need a MIAM certificate' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="grid_content_header">
      <h1 class="heading-xlarge gv-u-heading-xxlarge">You need a signed MIAM certificate from your mediator</h1>
    </div>

    <p class="app__lede lede gv-u-text-lede">You need a certificate from your mediator to prove you have attended a
      MIAM, unless you have a valid reason.</p>

    <div class=" govuk-govspeak gv-s-prose">
      <p>
        <a href="/miam_exemptions" target="_blank">Check if you have a valid reason</a> before you continue with your application.
      </p>

      <h2>If you don’t have a valid reason</h2>
      <p>You’ll need to contact your mediator who carried out the
        <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr> and ask for a signed certificate
        confirming your attendance.</p>
      <p>When you receive the certificate you can return to the application.</p>

      <h2>If you are unsure, or think you have a valid reason</h2>
      <p>If you’re still unsure you can continue and we’ll try and work out if you have a valid reason based on the
        answers you give.</p>

      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
        <p>If you do not have a valid reason you will not be able to make the application and will be directed to attend
          a <abbr title="Mediation Information and Assessment Meeting">MIAM</abbr>.</p>
      </div>
    </div>

    <div class="xform-group form-submit">
      <%= link_to 'Confirm and continue', steps_safety_questions_start_path, class: 'button', role: 'button' %>
    </div>
  </div>
</div>
